*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background-pages: #1F242D;
    --color-dark-1: rgba(25, 30, 38, 80%);
    --color-dark-2: #000000;
    --color-gradient-purple: linear-gradient(to right, #26C5F3, #B429F9);

    --color-h1: #fff;
}