<div class="credit-content"> 
    <h2 class="Dados-do-Cartao">Dados do Cartão</h2>
    <div class="labels-e-inputs">
        <div class="labels">
            <label for="cep">CPF</label>
            <label for="cartaoNumero">Número do cartão</label>
            <label for="nome">Nome Completo</label>
            <label for="validade">Validade</label>
            <label for="pacelas">Número de Parcelas</label>
        </div>
        <div class="inputs">
            <input class="cpf" type="text" id="cpf" name="cpf">
            <input class="cartaoNumero" type="text" id="cartaoNumero" name="cartaoNumero">
            <input class="nome" type="text" id="nome" name="nome">
            
            <div>
                <input class="validade" type="text" id="validade" name="validade">
                <div>
                    <label for="cv">CV</label>
                    <input class="cv" type="text" id="cv" name="cv">
                </div>
            </div> 
            <input class="pacelas" type="text" id="pacelas" name="pacelas">  
        </div>
    </div>
</div> 
