<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/demand.css">
    <title>document</title>
</head>
<main class="container">
    <section class="section-1">
        <div class="section-1-demand">
            <h2 class="subtitle-demand">Pedidos</h2>
            <div class="demand">
                <h3 class="subtitle3-demand">PEDIDO</h3>
                <div class="demand-iformation">
                    <h3 class="subtitle-date">DATA DE PEDIDO</h3>
                    <h3 class="subtitle-payment">PAGAMENTO</h3>
                    <h3 class="subtitlestatus">STATUS</h3>
                </div>  
            </div>
            <div class="linha"></div>
            <div class="section-1-demand-product-1">
                <div class="div-img-product-1">
                    <div class="rectangle-img-product">
                        <img src="../../public/img/icons/img-icon.png" alt="image" width="46">
                    </div>
                    <h3 class="subtitle-name-product">Lorem Ipsum dolor sit int amet consectetur</h3>
                </div>
                <div class="prduct-1-date-payment-delivered">
                    <h3 class="subtitel-date">10/01/2022</h3>
                    <h3 class="subtitle-payment2">Cartão de Crédito</h3>
                    <h3 class="subtitle-delivered">Entregue</h3>
                    <button class="button-submit">VER PEDIDO</button>
                </div>
            </div>
        </div>
        
    </section>
</main>
</html>