<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/footer.css">
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,300,0,-50..200" />

    <title>Footer PI</title>

</head>
<body>

    <footer>
        
        <section class="footer-links">
            
            <div class="footer-links-container container">

                <div class="footer-newsletter container">
                    <div class="newsletter-text">
                        <h3>Newsletter</h3>
                        <p>Fique por dentro de todas as promoções e aproveite as melhores promoções</p>
                    </div>
                    <div class="newsletter-input">
                        <input type="email" class="newsletter-email" name="email-newsletter" placeholder="Cadastre seu e-mail">
                        <input type="button" class="newsletter-button" value="Cadastrar">
                    </div>
                </div>

                <div class="footer-description">
                    <a href="#" class="logo-203"></a>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptate accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quaes</p>
                </div>

                <div class="footer-colluns-links">
                    <div class="footer-link-pages footer-collum">
                        <h4>Descubra +</h4>
                        <a href="#">Ação</a>
                        <a href="#">Aventura</a>
                        <a href="#">Puzze</a>
                        <a href="#">Primeira Pessoa</a>
                        <a href="#">RPG</a>
                        <a href="#">Terceira Pessoa</a>
                        <a href="#">Terror</a>
                    </div>

                    <div class="footer-links-about footer-collum">                
                        <h4>Sobre nós</h4>
                        <a href="#">Sobre</a>
                        <a href="#">Privacidade</a>
                    </div>

                    <div class="footer-links-contact footer-collum">
                        <h4>Contato</h4>
                        <div class="contact-phone contact-info">
                            <a href="#" class="buttom-icon-material material-symbols-outlined">android_dialer</a>
                            <a href="#">(66) 3333-3333</a>
                        </div>
                        <div class="contact-whatsapp contact-info">
                            <a href="#" class="buttom-icon-material material-symbols-outlined">forum</a>
                            <a href="#">(66) 9 9999-9999</a>
                        </div>
                        <div class="contact-mail contact-info">
                            <a href="#" class="buttom-icon-material material-symbols-outlined">mail</a>
                            <a href="#">(66) mail@mail.com.br</a>
                        </div>
                        <div class="contact-adress contact-info">
                            <a href="#" class="buttom-icon-material material-symbols-outlined">pin_drop</a>
                            <a href="#">Av. Julio Campos, 313 Str. <br>Comercial Sinop - MT</a>
                        </div>
                    </div>

                </div>
                
            </div>

        </section>

        <section class="footer-copyright">
            <div class="footer-copyright-container container">
                <hr>
                <h5>Copyright © 2022 | Nome da Empresa LTDA todos os direitos reservados  |  Criate by <a href="" target="_blank" rel="noopener noreferrer">GRUPO 1</a></h5>
            </div>
        </section>
    </footer>
    
</body>
</html>