<header>
    <div class="menu-top">

        <div class="menu-top-container container">
            <a href="/" class="logo-203px"></a>

            <div class="menu-top-buttons">
                <div class="menu-top-acessibility-buttons">
                    <a href="" class="letter+ button-icon">A+</a>
                    <a href="" class="letter- button-icon">A-</a>
                    <a href="" class="theme button-icon-material material-symbols-outlined">light_mode</a>
                </div>
    
                <div class="menu-top-user-buttons"> 
                    <a href="" class="menu-top-user-button  favorites-produts  material-symbols-outlined">favorite</a>
                    <a href="" class="menu-top-user-button  cart-shop">
                        <a class="cart  material-symbols-outlined">shopping_cart</a>
                        <a class="conter"></a>
                    </a>

                    <a href="/usuario" class="menu-top-user-button user-accont">
                        <span class="name-user">Olá, User</span>
                        <div class="arrow material-symbols-outlined ">expand_more</div>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="menu-bottom">
        <div class="menu-bottom-container container">
            <button class="menu-bottom-hamburger-menu"><span class="material-symbols-outlined hamburger-menu">menu</span></button>

            <nav class="menu-bottom-links">
                <div class="link-header home">
                    <a href="/" class="link">Home</a>
                </div>
                <div class="link-header store">
                    <a href="/loja" class="link">Loja</a>
                </div>
                <div class="link-header new">
                    <a href="/loja" class="link">Lançamentos</a>
                </div>
                <div class="link-header sale">
                    <a href="/loja" class="link">Promoções</a>
                </div>
                <div class="link-header about">
                    <a href="#" class="link">Sobre Nós</a>
                </div>
                <div class="link-header contact">
                    <a href="#" class="link">Contato</a>
                </div>
            </nav>
    
            <form class="menu-bottom-search">
                <input type="text" class="seach-field" name="search-input" placeholder="Buscar...">
                <button><img src="/img/icons/search-icon-b.png" alt=""></button>
            </form>
        </div>
    </div>
</header>



