<header>
    <div class="menu-top">

        <div class="menu-top-container container">
            <a href="#" class="logo-203px"></a>

            <div class="menu-top-buttons">
                <div class="menu-top-acessibility-buttons">
                    <a href="" class="letter+ button-icon">A+</a>
                    <a href="" class="letter- button-icon">A-</a>
                    <a href="" class="theme button-icon-material material-symbols-outlined">light_mode</a>
                </div>
    
                <div class="menu-top-user-buttons"> 
                    <a href="" class="menu-top-user-button  favorites-produts  material-symbols-outlined">favorite</a>
                    <a href="" class="menu-top-user-button  cart-shop">
                        <a class="cart  material-symbols-outlined">shopping_cart</a>
                        <a class="conter"></a>
                    </a>

                    <a href="#" class="menu-top-user-button user-accont">
                        <span class="name-user">Olá, User</span>
                        <div class="arrow material-symbols-outlined ">expand_more</div>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="menu-bottom">
        <div class="menu-bottom-container container">
            <nav class="menu-bottom-links">
                <div class="page-select">
                    <a href="#" class="link home ">Home</a>
                </div>
                <div>
                    <a href="#" class="link store">Loja</a>
                </div>
                <div>
                    <a href="#" class="link new">Lançamentos</a>
                </div>
                <div>
                    <a href="#" class="link sale">Promoções</a>
                </div>
                <div>
                    <a href="#" class="link about">Sobre Nós</a>
                </div>
                <div>
                    <a href="#" class="link contact">Contato</a>
                </div>
                
            </nav>
    
            <form class="menu-bottom-search">
                <input type="text" class="seach-field" name="search-input" placeholder="Buscar...">
                <button><img src="/img/icons/search-icon-b.png" alt=""></button>
            </form>
        </div>
    </div>
</header>



