<div class="menu-cart-conteiner">
    <div class="cart-menu">
        <nav class="cart-menu-navigation">
            <a href="#">CARRINHO</a>
            <a href="#">ENTREGA</a>
            <a href="#">PAGAMENTO</a>
        </nav>
    </div>
</div>
