<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/partials/product-list.css">
    <title>Document</title>
</head>

<body class="container">
    <div class="section-products-list">
        <h2 class="h2-sections">Selecionados Para Você</h2>
        <div class="product-list">
            <a href="" class="left-arrow-button button"></a>
            <div class="products">
                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../../public/img/icons/img-icon.png" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img src="../../public/img/icons/img-icon.png" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img src="../../public/img/icons/img-icon.png" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img class="image" src="../../public/img/icons/img-icon.png" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>
            </div>
            <a class="right-arrow-button button"></a>
        </div>  
    </div>
</body>
</html>