
<div class="product-list glider-contain">
    
    <div class="glider">
        
    <% for(product of productsData) { %>
        <div class="products ">
            <%- include('./product-item.ejs', {product}) -%>
        </div>
        <% } %>
        
    </div>
    
    
    <button class="left-arrow-button button glider-prev"></button>
    <button class="right-arrow-button button glider-next"></button>
</div>  
