    
    <div class="product-list">
        <a href="" class="left-arrow-button button"></a>

        <% productsData.map(product => { %>
            <%- include('./product-item.ejs', {product}) %>
        <% }) %>

        <a class="right-arrow-button button"></a>
    </div>  
