
    <div class="product-list">
        <a href="" class="left-arrow-button button"></a>

        <%- include('./product-item.ejs') %>
        <%- include('./product-item.ejs') %>
        <%- include('./product-item.ejs') %>
        <%- include('./product-item.ejs') %>

        <a class="right-arrow-button button"></a>
    </div>  
