<div class="product-listing"> 
    <h2>Produtos</h2>
    <table class="product-listing-table"  BORDER RULES=rows>
        <tr class="table-titles" style="height:35px">
            <th class="order" colspan="2">Produto</th>
            <th style="width:12%">Qnt</th>
            <th style="width:15%">Valor Un</th>
            <th style="width:15%" class="mobile-hidden">Valor Total</th>
            <th style="width:13%;  min-width: 92px;" class="button mobile-hidden"></th>
        </tr>


            <%- include('../partials/product-line.ejs', {order}) -%>

    </table>
</div>