<div class="product-item">
    <a href="" class="image">
        <img  src="<%= image %>" alt="">
    </a>
    <div class="product-item-info">
        <div class="product-item-info-text">
            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
            <a href=""><span class="price">R$239,99</span></a>
        </div>    
        <a href="#"><img class="like-button" src="/img/icons/like-icon-b.png" alt=""></a>
    </div>
</div>