<aside>
    <a href="" class="logo-185px"></a>
    <div class="sidebar-buttons">
        <a href="/admin/" class="sidebar-button dashboard">
            <span class="button-icon-material material-symbols-outlined">desktop_windows</span>
            <span>Dashbord</span>
        </a>
        <a href="/admin/vendas" class="sidebar-button sales">
            <span class="button-icon-material material-symbols-outlined">local_mall</span>
            <span>Vendas</span>
        </a>        
        <a href="/admin/produtos" class="sidebar-button products">
            <span class="button-icon-material material-symbols-outlined">archive</span>
            <span>Produtos</span>
        </a> 
    </div>
    <footer><p>© 2022 | Create by <a href=""> Grupo 1</a></p></footer>
</aside>