<main>
    <div class="div-section header">
    </div>
    <section class="content">
        <div class="card ">
            <div class="card-header">
                <h2>Cadastrar Produto</h2>
                <a href="/admin/produtos/criar" class="button-see-more">Cadastrar Novo</a>

            </div>

            <form method="post" action="" class="form-user-address">

                <div class="user-informations-block-div">
                    <label for="">Titulo do Produto</label>
                    <input type="text" name="title" id="title" value="">
                </div>
                <!-- <div class="user-informations-block-div">
                    <label for="">Nome do Destinatário</label>
                    <input type="text" name="name" id="name">
                </div> -->
                <!-- <div class="user-informations-block-div">
                    <label for="">Endereço</label>
                    <input type="text" name="street" id="street" value="">
                </div> -->
                <div class="user-informations-block-div user-informations-block-div-duo">
                    <div class="user-informations-block-div">
                        <label for="">Marca</label>
                        <input type="text" name="number" id="number" value="">
                    </div>
                    <div class="user-informations-block-div">
                        <label for="">Tipo de Produto</label>
                        <input type="text" name="number" id="number" value="">
                    </div>
                    <div class="user-informations-block-div">
                        <label for="">Platafoma</label>
                        <input type="text" name="district" id="district" value="">
                    </div>
                    
                    <div class="user-informations-block-div">
                        <label for="">Ano Lançamento</label>
                        <input type="text" name="district" id="district" value="">
                    </div>
                    <div class="user-informations-block-div">
                        <label for="">Classificação indicativa</label>
                        <input type="text" name="number" id="number" value="">
                    </div>
                </div>
                <div class="user-informations-block-div">
                    <label for="">Descrição curta</label>
                    <input type="textarea" name="complement" id="complement" value="">
                </div>
                <div class="user-informations-block-div user-informations-block-div-duo">
                    <div class="user-informations-block-div">
                        <label for="">Cidade</label>
                        <input type="text" name="city" id="city" value="">
                    </div>
                    <div class="user-informations-block-div">
                        <label for="">Estado</label>
                        <input type="text" name="state" id="state" value="">
                    </div>
                </div>
                <!-- <div class="user-informations-block-div">
                    <label for="">Ponto de Referência</label>
                    <input type="text" name="" id="" value="">
                </div> -->
                <div class="user-informations-block-div user-informations-block-div-duo">
                    <div class="user-informations-block-div ">
                        <label for="">Telefone de Contato da Entrega</label>
                        <input type="text" name="contact" id="contact" value="">
                    </div>
                    <div class="user-informations-block-div">
                        <label for="">CEP</label>
                        <input type="text" name="zipCode" id="zipCode" value="">
                    </div>
                </div>

            </form>
        </div>
    </section>
</main>