
<main>
    <div class="div-section header">
    </div>
    <section class="content">
        <div class="card ">
            <div class="card-block"></div>
            <div class="card-header">
                <h2>Vendas</h2>
            </div>
            <div class="table-responsive">
                <table>
                    <thead>
                        <th class="id">ID</th>
                        <th class="name">Nome</th>
                        <th>Data</th>
                        <th>Status</th>
                        <th class="price">Valor</th>
                        <th class="payment">Pagamento</th>
                    </thead>
                    <tbody>

                        <%- include('../partials/admin-order-line.ejs')%>                        
                        
                    </tbody>
                </table>
            </div>
            <form action="" class="pagination-itens">
                <button class="arrow"><</button>
                <button class="selected">1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button class="arrow active">></button>
            </form>
        </div>
    </section>
</main>