
<main>
    <div class="div-section header">
    </div>
    <section class="content">
        <div class="card ">
            <div class="card-block"></div>
            <div class="card-header">
                <h2>Produtos</h2>
                <a href="/admin/produtos/criar" class="button-see-more">Cadastrar Novo</a>

            </div>
            <div class="table-responsive">
                <table>
                    <thead>
                        <th class="id">ID</th>
                        <th>Titulo</th>
                        <th>Marca</th>
                        <th>Estoque</th>
                        <th>Valor</th>
                        <th>Promocional</th>
                        <th >Tipo</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="id">#0004</td>
                            <td>Minecraft Java Edition</td>
                            <td>Mojang</td>
                            <td>8</td>
                            <td>R$241,20</td>
                            <td>R$199,90</td>
                            <td>Game</td>
                            <td>Ativo</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <form action="" class="pagination-itens">
                <button class="arrow"><</button>
                <button class="selected">1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button class="arrow active">></button>
            </form>
        </div>
    </section>
</main>