<main>
    <section class="content">
        <div class="div-section header">
            <div class="status-cards">
                <div class="status-card sales">
                    <div class="status-card-data">
                        <div class="titles">
                            <span>Vendas</span>
                            <span>R$450,00</span>
                        </div>
                        <span class="status-card-icon material-symbols-outlined">local_mall</span>
                    </div>
                    <div class="status-card-description">
                        <div>
                            <span class="arrow_downward button-icon-material material-symbols-outlined">arrow_downward</span>
                            <span class="arrow_downward">20,90%</span>
                        </div>
                        <p>Na última semana</p>
                    </div>
                </div>
                <div class="status-card users">
                    <div class="status-card-data">
                        <div class="titles">
                            <span>Usuários</span>
                            <span>17</span>
                        </div>
                        <span class="status-card-icon material-symbols-outlined">group</span>
                    </div>
                    <div class="status-card-description">
                        <div>
                            <span class="arrow_upward button-icon-material material-symbols-outlined">arrow_upward</span>
                            <span class="arrow_upward">70,14%</span>
                        </div>
                        <p>Na última semana</p>
                    </div>
                </div>
                <div class="status-card products">
                    <div class="status-card-data">
                        <div class="titles">
                            <span>Produtos</span>
                            <span>50</span>
                        </div>
                        <span class="status-card-icon material-symbols-outlined">archive</span>
                    </div>
                    <div class="status-card-description">
                        <p>Cadastrados</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-section tables-cards">
            <div class="card ">
                <div class="card-block"></div>
                <div class="card-header">
                    <h2>Vendas</h2>
                    <a href="/admin/vendas" class="button-see-more">Ver mais</a>
                </div>
                <div class="table-responsive">
                    <table>
                        <thead>
                            <th class="id">ID</th>
                            <th>Data</th>
                            <th>Status</th>
                            <th class="price">Valor</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#0004</td>
                                <td>10/05/2022</td>
                                <td>Enviado</td>
                                <td>R$241,20</td>
                            </tr>
                            <tr>
                                <td>#0004</td>
                                <td>10/05/2022</td>
                                <td>Enviado</td>
                                <td>R$241,20</td>
                            </tr>
                            <tr>
                                <td>#0004</td>
                                <td>10/05/2022</td>
                                <td>Enviado</td>
                                <td>R$241,20</td>
                            </tr>
                            <tr>
                                <td>#0004</td>
                                <td>10/05/2022</td>
                                <td>Enviado</td>
                                <td>R$241,20</td>
                            </tr>
                            <tr>
                                <td>#0004</td>
                                <td>10/05/2022</td>
                                <td>Enviado</td>
                                <td>R$241,20</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-block"></div>

                <div class="card-header">
                    <h2>Produtos</h2>
                    <a href="/admin/produtos" class="button-see-more">Ver mais</a>
                </div>
                <div class="table-responsive">
                    <table>
                        <thead>
                            <th class="id">ID</th>
                            <th class="title">Titulo</th>
                            <th>Estoque</th>
                            <th class="price">Valor</th>
                        </thead>
                        <tbody>
                            <tr onclick="location.href='/admin/vendas/'">
                                <td>#0044</td>
                                <td>Lorem Ipsum</td>
                                <td>10</td>
                                <td>R$21,00</td>
                            </tr>
                            <tr>
                                <td>#0004</td>
                                <td>Lorem Ipsum</td>
                                <td>10</td>
                                <td>R$21,00</td>
                            </tr>
                            <tr>
                                <td>#0004</td>
                                <td>Lorem Ipsum</td>
                                <td>10</td>
                                <td>R$21,00</td>
                            </tr>
                            <tr>
                                <td>#0004</td>
                                <td>Lorem Ipsum</td>
                                <td>10</td>
                                <td>R$21,00</td>
                            </tr>
                            <tr>
                                <td>#0004</td>
                                <td>Lorem Ipsum</td>
                                <td>10</td>
                                <td>R$21,00</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>

</body>