
<main>
    <div class="div-section header">
    </div>
    <section class="content">
        <div class="card ">
            <div class="card-block"></div>
            <div class="card-header">
                <h2>Produtos</h2>
                <a href="/admin/produtos/criar" class="button-see-more">Cadastrar Novo</a>

            </div>
            <div class="table-responsive">
                <table class="paginate">
                    <thead>
                        <th class="id">ID</th>
                        <th>Titulo</th>
                        <th>Marca</th>
                        <th>Estoque</th>
                        <th>Valor</th>
                        <th>Promocional</th>
                        <th >Tipo</th>
                        <th>Status</th>
                    </thead>
                    <tbody class="list">
                        <%- include('../partials/admin-product-line.ejs')%>                      
                    </tbody>
                </table>
            </div>
            <div class="pagination-itens controls">
                <button class="arrow first"><<</button>
                <button class="arrow prev"><</button>
                <div class="numbers">
                    <button class="selected">1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                </div>
                <button class="arrow next">></button>
                <button class="arrow last">>></button>
            </div>
        </div>
    </section>
</main>