
    <main class="conteiner container  margin-header">
        <%- include('../partials/menu-cart')%>
        <h1 class="entrega">ENTREGA</h1>
       <section class="information">
            <form action="/cart/inforEntrega" method="post">
                <div class="div-labels-inputs">
                    <div class="div-labels2">
                        <label for="cep">CEP</label>
                        <label for="name">Nome do Destinatário</label>
                        <label for="endereco">Endereço</label>
                        <label for="numero">Numero</label>
                        <label for="Complemento">Complemento</label>
                        <label for="bairro">Bairro</label>
                        <label for="cidade">Cidade</label>
                        <label for="estado">Estado</label>
                        <label for="referencia">Ponto de referência</label>
                        <label for="telefone">Telefone celular</label>
                    </div>
                    <div class="div-inputs2">
                        <input class="information-cep" type="text" id="cep" name="cep" placeholder="Ex.: 00000-000" required>
                        <input class="information-name" type="text" id="name" name="name" placeholder="Digite seu nome" required>
                        <input class="information-addreass" type="text" id="endereco" name="endereco" placeholder="Digite seu endereço" required>
                        <input class="information-number" type="number" id="numero" name="numero" placeholder="Numero" required>
                        <input class="information-complement" type="text" id="Complemento" name="Complemento" placeholder="ex.: Casa A" required>
                        <input class="information-district" type="text" id="bairro" name="bairro" placeholder="Digite seu bairro" required>
                        <input class="information-city" type="text" id="cidade" name="cidade" placeholder="Digite sua cidade" required>
                        <select class="information-state-select" id="estado" name="estado">
                            <option value="">Selecione</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espirito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                        <input class="information-reference" type="text" id="referencia" name="referencia" placeholder="Digete sua referência" required>
                        <input class="information-telefhone" type="tel" id="telefone" name="telefone" placeholder="Ex.: (00) 0000-0000" required>
                    </div>
                </div>
                <!-- <div class="linha"></div> -->
                <button class="button-submit">Continuar</button> 
                <a class="voltar" href="#">Voltar</a>                
            </form>
           
        </section>
    </main>