
<main class="conteiner">
    <%- include('../partials/menu-cart')%>
    <h1 class="finalizar-pedido">Finalizar pedido</h1>
    <section class="cart-payment">
        <h2 class="Selecione-o-Frete">Selecione o Frete</h2>
        <div class="cart-pament-freight">
            <div class="payment-option-delivery">
                <p class="option-delivery-delivery-date">
                Correios Sedex
                <br>
               <strong>Até 04 de Junho - R$ 14,99</strong>
                </p>
        </div>
            <div class="payment-option-delivery"><p class="option-delivery-delivery-date">Até <strong>04 de Junho - R$ 14,99</strong></p></div>
            <div class="payment-option-delivery"><p class="option-delivery-delivery-date">Até <strong>04 de Junho - R$ 14,99</p></div>
            <div class="payment-option-delivery"><p class="option-delivery-delivery-date">Até <strong>04 de Junho - R$ 14,99</p> </div>
        </div>
        <div class="payment-address-order_summary">
            <div class="address-order_summary-address">
                <h2 class="address-delivery-address">Endereço da Entrega</h2>
                <div class="address-complete">
                    <p class="adress-complete-paragraph">Analyce Ferreira Dapont</p> 
                    <p class="adress-complete-paragraph">Rua dos Lírios, 383,</p>  
                    <p class="adress-complete-paragraph">Setor Comercial</p> 
                    <p class="adress-complete-paragraph">MT - Sinop</p> 
                    <p class="adress-complete-paragraph">CEP 78550244</p>
                </div>
            </div>
            <div class="address-order_summary-abstract">
                <span class="abstract-summary-abstract"><h2>resumo do pedido</h2> <a href="#">voltar</a></span>
                <span class="abstract-price-product"><p>10 produtos</p> <p>R$239,90</p></span>
                <span class="abstract-price-freight"><p>Frete</p> <p>R$4,99</p></span>
                <span class="abstract-total"><h3>Total</h3> <h3>R$244,98</h3></span>
                <span class="abstract-juros-pix"> 
                    <div class="abstract-juros-pix-rigth ">
                        <a class="juros" href="#">Em até 6x sem juros</a>
                        <br>
                        <a class="payment-pix" href="#">R$ 205,00  pagando com PIX</a>
                    </div>
                </span>
            </div>
        </div>
    </section>
    <section class="payment-dice">
        <div class="cato-pix-menu-cato-pix">
            <a href="#">CARTÃO</a> <a href="#">PIX</a>
        </div>
        <h2 class="Dados-do-Cartao">Dados do Cartão</h2>
        <div class="div-form">
            <form action="" method="">
                <div>
                    <label for="cep">CPF</label>
                    <input class="cpf" type="text" id="cpf" name="cpf">
                </div>
                <div class="div-form-numero-do-cartao">
                    <label for="cartaoNumero">Número do cartão</label>
                    <input class="cartaoNumero" type="text" id="cartaoNumero" name="cartaoNumero">
                </div>
                <div class="div-form-nome">
                    <label for="nome">Nome Completo</label>
                    <input class="nome" type="text" id="nome" name="nome">
                </div>
                <div class="div-form-nome">
                    <label for="nome">Nome Completo</label>
                    <input class="nome" type="text" id="nome" name="nome">
                </div>
                <div class="div-form-valiade-cv">
                    <label for="validade">Validade</label>
                    <input class="validade" type="text" id="validade" name="validade">
                    <label for="cv">CV</label>
                    <input class="cv" type="text" id="cv" name="cv">
                </div>
                <div class="div-form-installments">
                    <label for="pacelas">Número de Parcelas</label>
                    <input class="pacelas" type="text" id="pacelas" name="pacelas">  
                </div>
                <div class="linha"></div>
                <div class="form-total-proce">
                    <span class="abstract-total"><h3>Total</h3> <h3>R$244,98</h3></span>
                    <span class="abstract-juros-pix"> 
                        <div class="abstract-juros-pix-rigth ">
                            <a class="juros" href="#">Em até 6x sem juros</a>
                            <br>
                            <a class="payment-pix" href="#">R$ 205,00  pagando com PIX</a>
                        </div>
                    </span>
                </div>
                <button class="button-submit" type="submit">finalizar pedido</button>
            </form>
        </div>
    </section>
</main>