 <main class="container margin-header">
    <section class="page-cart">
        <%- include('../partials/menu-cart')%>
        <!-- começo div do conteudo  -->
        <h1 class="subparagraph-my-cart">MEU CARRINHO</h1>

        <div class="cart-content">
            <div class="cart-infos">
                <form action="" method="post" id="myCart">
                
                    <div class="order-datails">
                        <table class="table-produtcs">
                            <thead>
                                <th class="th-product-image-title">Produto</th>
                                <th>Quantidade</th>
                                <th>Preço</th>
                                <th></th>
                            </thead>
                            <tbody>

                            <script src="/scripts/incluir-order-line.js"></script>
                                
                            </tbody>
                        </table>
                        
                    </div>
                </form>
                <button ></button>
                <div class="product-info-shipping">
                    <h3>Calcular frete</h3>
                    <form class="product-info-cep">
                        <input type="text" placeholder="CEP" id="cep">
                        <button type="button" id="button-cep"><img src="/img/icons/search-icon-b.png" alt=""></button>
                    </form>
                    <div class="product-info-cep-price" id="shipping-infos">
                    </div>
                </div>

            </div>
            
            <div class="order-resume">
                <h2>RESUMO DO PEDIDO</h2>
                
                <div class="resume-content">
                    <div class="order-itens-resume">
                        <div>
                            <span><span id="resumeQuantProducts">Nenhum produto no momento</span> produtos</span>
                            <span>Frete</span>
                        </div>
                        <div class="values">
                            <span>R$ <span  id="resumeProductsPrice"></span></span>
                            <span>R$ <span  id="resumeShippingPrice"></span></span>
                        </div>
                    </div>
                    <hr>
                    <div class="order-total-resume">
                        <div class="order-total-resume-value">
                            <strong>TOTAL</strong>
                            <div>
                                <strong>R$ <strong id="resumeTotalValue"></strong></strong>
                                <p>Em até 6x sem juros</p>
                            </div>
                        </div>
                        <p class="p-pix">R$ <span id="p-pix"></span> pagando com pix</p>
                    </div>
                </div>
                <div class="order-resume-buttons">
                    <a href="/cart/"><button class="button-submit">Continuar</button></a>
                    <a href="/loja">Adicionar mais produtos</a>
                </div>

            </div>
        </div>


        
    </section>
</main>