<!-- nunca vai de primeira :(  -->
 <!-- kkkkk  -->
 <main class="container margin-header">
    <section class="page-cart">
        <%- include('../partials/menu-cart')%>
        <!-- começo div do conteudo  -->
        <div class="cart-content">
            <!-- começo divisão de junçao  -->
            <h1 class="subparagraph-my-cart">MEU CARRINHO</h1>
            
            <div class="cart-content-juction-specification-1">
                <h4>MEU CARRINHO</h4>
            </div>
            
            <div class="cart-content-juction">
                
                <div class="content-juction-specification-product">
                    <div class="juction-specification-2-image-name-information">
                        <div class="especificanton-2-rectangle-img">
                            <img class="produtc-img" src="/img/icons/img-icon.png" alt="imagem do produto">
                        </div>
                        <span class="information-product-img">
                            <h2 class="sub1">Lorem Ipsum</h2>
                            <p class="name-product">
                                Lorem ipsum dolor sit int amet, consectetur
                            </p>
                        </span>
                    </div>
                    <!-- <div class="content-juction-spacificantion-2"> -->
                        <div class="div-quantidade">
                            <h4>QUANTIDADE</h4>
                            <form action="" method="">
                                <div class="juction-spacificantion-2-product-quantity">
                                    <button class="button-qunatity">+</button>

                                    <input class="the-amount" type="text" name="quatidadeProduto">

                                    <button class="button-qunatity">-</button>
                                </div>
                            </form>
                        </div>
                        <div class="div-preco">
                            <h4 class="subpa-preco">PREÇO</h4>
                            <h4>R$23,99</h4>
                        <!-- </div> -->
                    </div>
                    <div><button class="button-remover">REMOVER</button></div>
                </div> 

                <div class="cart-contect-Oder-summary">
                <h3 class="Oder-summary">RESUMO DO MEU PEDIDO</h3>
                <div class="Oder_summary_name_value">
                    <p> 10 PRODUTO</p>
                    <P> R$239,90 </P>
                </div>
                <span class="Oder-summary-freight-value">
                    <p> Frete </p>
                    <P> R$4,99 </P>
                </span>
                <span class="Oder-summary-total-value">
                    <p> TOTAL </p>
                    <p> R$244,98 </p>
                </span>
                <span class="Oder-summary-fees">
                    <p> Em até 6x sem juros </p>
                </span>
                <a class="Oder-summary-link-pix" href="#">R$ 205,00 pagando com PIX</a>
                <button class="button-submit">continuar</button>
                <a class="Oder-summary-link-to-add" href="#">Adicionar mais produtos</a>
            </div>
            
            </div>
            <!-- final divisão de junçao  -->
            
        </div>
        <!-- final div do conteudo  -->
        <div class="cart-freight">
            <h2 class="cart-freigth-subparagrafo">Calcular Frete</h2>
            <form action="">
                <input class="cart-freight-calcular" type="text" name="fretes" placeholder="CEP">
            </form>
            <form class="cart-freight-deadline" action="">
                <div><input class="checkbox-delivery" type="checkbox" id="junho" name="junho"> <label
                        for="junho">Entrega até 04 de <strong> Junho - R$ 14,99 </strong> </label></div>
                <div><input class="checkbox-delivery" type="checkbox" id="junho" name="junho"> <label
                        for="junho">Entrega até 04 de <strong> Junho - R$ 14,99 </strong> </label></div>
            </form>
        </div>
    </section>
</main>