<main class="conteiner container margin-header">
    <%- include('../partials/menu-cart')%>
    <h1 class="finalizar-pedido1">Finalizar pedido</h1>
    <section class="cart-payment">  

        <h2 class="selecione-o-frete">Selecione o Frete</h2>

        <div class="cart-pament-freight">
            <div class="payment-option-delivery">
                <p class="option-delivery-delivery-date">
                Correios Sedex
                <br>
               <strong>Até 04 de Junho - R$ 14,99</strong>
                </p>
            </div>
            <div class="payment-option-delivery"><p class="option-delivery-delivery-date">Até <strong>04 de Junho - R$ 14,99</strong></p></div>
            <div class="payment-option-delivery"><p class="option-delivery-delivery-date">Até <strong>04 de Junho - R$ 14,99</strong></p></div>
            <div class="payment-option-delivery"><p class="option-delivery-delivery-date">Até <strong>04 de Junho - R$ 14,99</strong></p> </div>
        </div>

        <div class="payment-address-order_summary">
            <div class="address-order_summary-address">
                <h2 class="address-delivery-address">Endereço da Entrega</h2>
                <div class="address-complete">
                    <p class="adress-complete-paragraph">Analyce Ferreira Dapont</p> 
                    <p class="adress-complete-paragraph">Rua dos Lírios, 383,</p>  
                    <p class="adress-complete-paragraph">Setor Comercial</p> 
                    <p class="adress-complete-paragraph">MT - Sinop</p> 
                    <p class="adress-complete-paragraph">CEP 78550244</p>
                </div>
            </div>
            <div class="address-order_summary-abstract">
                <div class="resumo-pedido">
                    <div><h3>RESUMO DO PEDIDO</h3></div>
                    <div><a class="voltar" href="#">voltar</a></div>
                </div>
                <div class="produtos-precos">
                    <div class="produto-frete">
                        <p>10 produtos</p>
                        <p>Frete</p>
                    </div>
                    <div class="produto-preco">
                        <p>R$4,99</p>
                        <p>R$4,99</p>
                    </div>
                </div>
                <div class="total-preco">
                    <div>
                        <h3>TOTAL</h3> 
                    </div>
                    <div class="preco-produro-juros-pix">
                        <h4>R$244,98</h4>
                        <h4>Em até 6x sem juros</h4>
                        <h4 class="pagando-pix">R$ 205,00  pagando com PIX</h4>
                    </div>
                </div>
            </div>
        </div>

    </section>
    
    <section class="payment-dice">
        <div class="menu-cartao-pix">
            <a class="menu-cartao" href="#">CARTÃO</a> <a class="menu-pix" href="#">PIX</a>
        </div>
        
        
        <form class="form-payment" action="/cart/payment" method="post">
            <h2 class="Dados-do-Cartao">Dados do Cartão</h2>
            <div class="labels-e-inputs">
                <div class="labels">
                    <label for="cep">CPF</label>
                    <label for="cartaoNumero">Número do cartão</label>
                    <label for="nome">Nome Completo</label>
                    <label for="validade">Validade</label>
                    <label for="pacelas">Número de Parcelas</label>
                </div>
                <div class="inputs">
                    <input class="cpf" type="text" id="cpf" name="cpf">
                    <input class="cartaoNumero" type="text" id="cartaoNumero" name="cartaoNumero">
                    <input class="nome" type="text" id="nome" name="nome">
                    
                    <div>
                        <input class="validade" type="text" id="validade" name="validade">
                        <div>
                            <label for="cv">CV</label>
                            <input class="cv" type="text" id="cv" name="cv">
                        </div>
                    </div> 
                    <input class="pacelas" type="text" id="pacelas" name="pacelas">  
                </div>
            </div>
    
            <!-- <div class="form-total-proce">
                <span class="total">Total</span>
                <div class="juros-pix ">
                        <span class="strong">R$244,98</span>
                        <span class="hovers">Em até 6x sem juros</span>
                        <span class="hovers">R$ 205,00 pagando com PIX</span>
                </div>
            </div> -->

            <button class="button-submit" type="submit">finalizar pedido</button>
        </form>
        
    
       </section>
</main>