<!-- ------------------inicio do main-------------------------- -->

<main class="conteiner container margin-header">
    <%- include('../partials/menu-cart')%>
        <h1 class="finalizar-pedido1" >Finalizar pedido</h1>

<!-- ------------------inicio da section - cart-payment ---------------------------->
    <section class="cart-payment">  

        <h2 class="selecione-o-frete">Selecione o Frete</h2>
        
<!-- --------------------------inicio da div de selecionar data de entrega------------>

        <div class="cart-pament-freight">
            <div class="payment-option-delivery">
                <p class="option-delivery-delivery-date">
                Correios Sedex
                <br>
               <strong>Até 04 de Junho - R$ 14,99</strong>
                </p>
            </div>
            <div class="payment-option-delivery"><p class="option-delivery-delivery-date">Até <strong>04 de Junho - R$ 14,99</strong></p></div>
            <div class="payment-option-delivery"><p class="option-delivery-delivery-date">Até <strong>04 de Junho - R$ 14,99</strong></p></div>
            <div class="payment-option-delivery"><p class="option-delivery-delivery-date">Até <strong>04 de Junho - R$ 14,99</strong></p> </div>
        </div>
<!-- --------------------------fim da div de selecionar data de entrega---------------------------------------- -->

<!-- --------------------------inicio da div de Endereço da Entrega e resumo de pedido---------------------------------------- -->

        <div class="payment-address-order_summary">

<!-- --------------------------inicio da div de Endereço da Entrega---------------------------------------- -->

            <div class="address-order_summary-address">
                <h2 class="address-delivery-address">Endereço da Entrega</h2>
                <div class="address-complete">
                    <p class="adress-complete-paragraph">Analyce Ferreira Dapont</p> 
                    <p class="adress-complete-paragraph">Rua dos Lírios, 383,</p>  
                    <p class="adress-complete-paragraph">Setor Comercial</p> 
                    <p class="adress-complete-paragraph">MT - Sinop</p> 
                    <p class="adress-complete-paragraph">CEP 78550244</p>
                </div>
            </div>

<!-- --------------------------fim da div de Endereço da Entrega---------------------------------------- -->

<!-- --------------------------inicio da div resumo do pedido---------------------------------------- -->

            <div class="address-order_summary-abstract">
                <div class="resumo-pedido">
                    <h4 class="subp-resumo-pedido">RESUMO DO PEDIDO</h4>
                    <a class="voltar" href="/cart">voltar</a>
                </div>
                <div class="produtos-precos">
                    <div class="produto-frete">
                        <p>10 produtos</p>
                        <p>Frete</p>
                    </div>
                    <div class="produto-preco">
                        <p>R$4,99</p>
                        <p>R$4,99</p>
                    </div>
                </div>
                <div class="total-preco">
                    <div class="subp-total">
                        <h3>TOTAL</h3> 
                    </div>
                    <div class="preco-produro-juros-pix">
                        <h4>R$244,98</h4>
                        <h4>Em até 6x sem juros</h4>
                        <h4 class="pagando-pix">R$ 205,00  pagando com PIX</h4>
                    </div>
                </div>
            </div>

<!-- --------------------------fim da div resumo do pedido---------------------------------------- -->

        </div>

<!-- --------------------------fim da div de Endereço da Entrega e resumo do pedido---------------------------------------- -->

    </section>
    <!-- ------------------fim da section - cart-payment -------------------------- -->
    <section class="payment-dice">
        <div class="menu-cartao-pix">
            <a class="menu-cartao" >CARTÃO</a>
            <a class="menu-pix">PIX</a>
        </div>
        <form class="form-payment" action="/cart/payment" method="post">
            
            <%- include('../partials/cart-payment-credit' ) -%>
            <%- include('../partials/cart-payment-pix' ) -%>

            <button class="button-submit" type="submit">finalizar pedido</button>
        </form>
    </section>
</main>
<!-- ------------------fim do main-------------------------- -->
