<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    <link rel="stylesheet" href="../../public/css/login.css">


</head>

<body>

    <div class="container form-login">

        <div class="first-content">
            <form>
                <h1>CRIAR CONTA</h1>
                <br>
                <div class="div-input">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" nome="nome" placeholder="Lorem Ipson">
                </div>
                <div class="div-input">
                    <label for="Email">Email:</label>
                    <input type="text" id="Email" nome="Email" placeholder="I">
                </div>
                <br>
                <div class="div-input">
                    <label for="Telefone">Telefone:</label>
                    <input type="text" id="Telefone" nome="Telefone" placeholder="Telefone">
                </div>
                
                <div class="div-input">
                    <input type="text" id="Senha" nome="Senha" placeholder="Senha">
                 
                    <input type="text" id="Confirme a Senha" nome="Confirme a Senha" placeholder="Confirme a Senha">
                </div>
                
                <div> 
                    <button class="button-submit" type="submit">entrar</button>
                </div> 
                

            </form>
            
        </div>
        <div class="barra">

        </div>

        <div class="second-colum">
            <form>
                <h1>LOGIN</h1>
                <br>
                <!-- <label for="Login">Login:</label> -->
                <input type="text" id="login" nome="login" placeholder="login">
                <br>
                <!-- <input type="login" class="form-input" autocomplete="off" required>
                    <label for="login" class="form-label">login</label> -->
                    
                   

                <!-- <label for="Senha">Senha:</label> -->
                <input type="text" id="Senha" nome="senha" placeholder="senha">
                <!-- <input type="senha" class="form-input" placeholder="senha" required> -->
                <!-- <input type="senha" class="form-input" autocomplete="off" required> -->
                <!-- <label for="senha" class="form-label">senha</label> -->
                
            </form>
            <div>
                <button class="button-submit" type="submit">entrar</button>
            </div>
            

            <!-- <div class=" field-box">
                <form>
                    <input type="login" class="form-input" autocomplete="off" required>
                    <label for="" class="form-label">login</label>
            </div>
            <div>
                <input type="senha" class="form-input" autocomplete="off" required>
                <label for="" class="form-label">senha</label>
            </div>
                 </form> -->

        </div>
    </div>

</body>

</html>