<div class="container form-login margin-header">

    <div class="first-content">
        <form method="post" action="/usuario/criar" >
            <h1>CRIAR CONTA</h1>

            <div>
                <div class="div-input">
                    <label for="nome">Nome completo:</label>
                    <input type="text" id="name" name="name"  placeholder="">
                </div>
                <div class="div-input">
                    <label for="Email">Email:</label>
                    <input type="text" id="email" name="email" placeholder="">
                </div>
                
                <div class="div-input">
                    <label for="Telefone">Telefone:</label>
                    <input type="text" id="telefone" name="phone" placeholder="">
                </div>
                
                <div class="div-input">
                    <label for="Senha">Senha:</label>
                    <input type="text" id="senha" name="password" placeholder="">
                </div>

                <div class="div-input">
                    <label for="passwordConfirm">Confirmar Senha:</label>
                    <input type="text" id="passwordConfirm" name="passwordConfirm" placeholder="">
                </div>

            </div>

            <% if (message.type == "criar" && message.content != "") { %>
                <span class="in-line-message"> <%= message.content %> </span>
            <% } %>

            
            <button class="button-submit" type="submit">Criar</button> 
            

        </form>
        
    </div>
    <div class="barra">

    </div>

    <div class="second-colum">

        <h1>LOGIN</h1>
        
        <form method="post" action="/usuario/logar">
            <input type="text" id="email" name="email" placeholder="Email">
            <input type="text" id="password" name="password" placeholder="Senha">
        
            <button class="button-submit" type="submit">entrar</button>
        </form>
            

       

        <!-- <div class=" field-box">
            <form>
                <input type="login" class="form-input" autocomplete="off" required>
                <label for="" class="form-label">login</label>
        </div>
        <div>
            <input type="senha" class="form-input" autocomplete="off" required>
            <label for="" class="form-label">senha</label>
        </div>
                </form> -->

    </div>
</div>
