<div class="sucess">
    <img class="sucess-img" src="/img/icons/404-error.png" alt="img sucess">
    <div class="completed-order">
        <h1>Não encontrado!</h1>
        <p>Esse endereço que você está acessando não existe</p>
    </div>
    <button class="button-submit" type="button">
        <a href="/home"></a>
        VOLTAR
    </button>
</div>