<main class="margin-header">
    <section class="store-banner">
        <div class="store-banner-container container">
            <h1>Lorem Ipsum</h1>
        </div>
        <img src="/img/banners/fortnite-1920x1080-wallpaper-raven.jpg" alt="">
    </section>

    <section class="store-menu-responsive">
        <div class="store-menu-responsive-container">
            <button>
                <a href="#" class=" material-symbols-outlined">sort</a>
                <span>Ordenar</span>
            </button>
            <button>
                <a href="#" class=" material-symbols-outlined">filter_list</a>
                <span>Filtrar</span>
            </button>
        </div>
    </section>


    <section class="store-container container ">
        <div class="store-filters">
            <h2>Loja</h2>

            <form class="store-filters-inputs" action="/loja/filtro" method="get">
                <div class="store-filter-rule">
                    <h3>Categoria</h3>
                    <div class="checkbox-options">
                        <label class="checkbox-option">Ação
                            <input type="checkbox" name="Ação" id="acao" >
                            <span class="checkmark"></span>
                        </label>
                        <label class="checkbox-option">Aventura
                            <input type="checkbox" name="aventura" id="aventura">
                            <span class="checkmark"></span>
                        </label>
                        <label class="checkbox-option">Puzze
                            <input type="checkbox" name="puzze" id="puzze">
                            <span class="checkmark"></span>
                        </label>
                        <label class="checkbox-option">Primeira Pessoa
                            <input type="checkbox" name="primeira-pessoa" id="primeira-pessoa">
                            <span class="checkmark"></span>
                        </label>
                        <label class="checkbox-option">RPG
                            <input type="checkbox" name="rpg" id="rpg">
                            <span class="checkmark"></span>
                        </label>
                        <label class="checkbox-option">Terceira Pessoa
                            <input type="checkbox" name="terceira-pessoa" id="terceira-pessoa">
                            <span class="checkmark"></span>
                        </label>
                        <label class="checkbox-option">Terror
                            <input type="checkbox" name="terror" id="terror">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>

                <div class="store-filter-rule">
                    <h3>Lorem Ipsum</h3>
                    <div class="checkbox-options">
                        <label class="checkbox-option">Dolor Sit Amet
                            <input type="checkbox" name="acao" id="acao">
                            <span for="acao"></span>
                        </label>
                        <label class="checkbox-option">Dolor Sit Amet
                            <input type="checkbox" name="aventura" id="aventura">
                            <span for="aventura"></span>
                        </label>
                        <label class="checkbox-option">Dolor Sit Amet
                            <input type="checkbox" name="puzze" id="puzze">
                            <span></span>
                        </label>
                    </div>
                </div>

                <div class="store-filter-rule">
                    <h3>Lorem Ipsum</h3>
                    <div class="checkbox-options">
                        <label class="checkbox-option">Dolor Sit Amet
                            <input type="checkbox" name="acao" id="acao">
                            <span></span>
                        </label>
                        <label class="checkbox-option">Dolor Sit Amet
                            <input type="checkbox" name="aventura" id="aventura">
                            <span></span>
                        </label>
                        <label class="checkbox-option">Dolor Sit Amet
                            <input type="checkbox" name="puzze" id="puzze">
                            <span></span>
                        </label>
                        <label class="checkbox-option">Dolor Sit Amet
                            <input type="checkbox" name="1" id="1">
                            <span></span>
                        </label>
                        <label class="checkbox-option">Dolor Sit Amet
                            <input type="checkbox" name="2" id="2">
                            <span></span>
                        </label>
                    </div>
                </div>

                <div class="store-filter-rule">
                    <h3>Lorem Ipsum</h3>
                    <div class="store-options">
                        <div class="store-options-values">
                            <div>
                                <label for="min-value">Min Value</label>
                                <input type="text" name="min-value" id="" placeholder="Min Value">
                            </div>
                            <div>
                                <label for="max-value">Max Value</label>
                                <input type="text" name="max-value" id="" placeholder="Max Value">
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="button-submit">Filtrar</button>
            </form>
        </div>



        <form class="store-gallery">
            <div class="store-gallery-products gallery-products">

                <% for(product of productsData){ %>
                    <%- include('../partials/product-item.ejs') %>
                <% } %>
                

            </div>
            <!-- <button type="button" class="button-submit">Ver mais</button> -->
        </form>

    </section>
    
</main>