<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cart-page-sucess.css">
    <title>Document</title>
</head>
 <main class="conteiner">
    <div class="sucess">
        <img class="sucess-img" src="/img/outhers/img-sucess.png" alt="img sucess">
        <div class="completed-order">
            <h1>Pedido Finalizado com Sucesso!</h1>
            <p>Você receberá um e-mail de confirmação assim que o pagamento for processado</p>
        </div>
        <button class="button-submit">ACESSAR PEDIDOS</button>
    </div>
</main>   
</html>
