
<main class="container margin-header-over">
    <section class="user-page">
        
        <%- include('../partials/user-sidebar.ejs') -%>

        <div class="user-page-data">
            <h1 class="user-page-data-title">Meus Pedidos</h1> 

            <%- include('../partials/order-list.ejs') -%>  
            
        </div>
    </section>
</main>
