<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/cart-payment-pix.css">
    <title>cart payment</title>
</head>
<body class="container">
    <section class="payment-pix">
        <h1 class="pagar-com-pix">Pagar com Pix</h1>
        <p class="description-pix">
            <p>Pague com Pix em qualquer dia e a qualquer hora! O</p> 
            <p>pagamento é instantâneo, prático e pode ser feito em</p>
            <p>poucos segundos. É muito rápido e seguro :)</p>
        </p>

        <div class="payment-of-QRcode">
            <div class="payment-of-QRcode-img-QRcode">
                <img class="img-QRcode" src="../public/img/outhers/image 1.jpg" alt="QRcode-pix">
            </div>
            <div class="payment-of-QRcode-how-to-pay-QRcode">
               <p class="how-to-pay-QRcode"> 1. abra o app do seu banco ou instituição financeira e entre no ambiente Pix</p>

               <p class="how-to-pay-QRcode">2. escolha a opção pagar com qr code e escaneie o código ao lado</p> 

               <p class="how-to-pay-QRcode">3. confirme as informações e finalize a compra</p> 
            </div>
        </div>
        <div class="line"></div>
        <span class="total-price"><h3>total</h3> <h3 class="price">R$205,00</h3></span>
        <button class="button-submit">finalizar pedido</button>
    </section>
</body>
</html>