<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categoria</title>
    <link rel="stylesheet" href="../public/css/buttons/button-submit.css">
</head>

<body>
    <img class="imagem1" src="../public/img/banners/fortnite-1920x1080-wallpaper-raven.jpg">
    
    <h1>LOREM IPSUM</h1> 
    <div>
        <h1>LOJA</h1>
        <h2>CATEGORIA</h2>
        <input type="checkbox" name="AÇÃO" id="item1">
        <input type="checkbox" name="AVENTURA" id="item2">
        <input type="checkbox" name="PUZZE" id="item3">
        <input type="checkbox" name="PRIMEIRA PESSOA" id="item4">
        <input type="checkbox" name="RPG" id="item5">
        <input type="checkbox" name="TERCEIRA PESSOA" id="item6">
        <input type="checkbox" name="TERROR" id="item7">

    </div> 


      
</body>
</html>

