<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Header PI</title>
        <link rel="stylesheet" href="../public/header.css">
        <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,300,0,-50..200" />


</head>
<body>
    <header>
        <div class="menu-top">

            <div class="menu-top-conteiner conteiner">
                <div class="menu-top-logo"></div>
    
                <div class="menu-top-buttons">
                    <div class="menu-top-acessibility-buttons">
                        <a class="letter+">A+</a>
                        <a class="letter-">A-</a>
                        <a class="theme  material-symbols-outlined">light_mode</a>
                    </div>
        
                    <div class="menu-top-user-buttons"> 
                        <a class="menu-top-user-buttom  favorites-produts  material-symbols-outlined">favorite</a>
                        <a class="menu-top-user-buttom  cart-shop">
                            <a class="cart  material-symbols-outlined">shopping_cart</a>
                            <a class="conter"></a>
                        </a>

                        <a href="#" class="menu-top-user-buttom user-accont">
                            <span class="name-user">Olá, User</span>
                            <div class="arrow material-symbols-outlined ">expand_more</div>
                        </a>
                    </div>
                </div>
    
            </div>
        </div>
    
        <div class="menu-bottom">
            <div class="menu-bottom-conteiner conteiner">
                <div class="menu-bottom-links">
                    <a href="#" class="link home">Home</a>
                    <a href="#" class="link store">Loja</a>
                    <a href="#" class="link new">Lançamentos</a>
                    <a href="#" class="link sale">Promoções</a>
                    <a href="#" class="link about">Sobre Nós</a>
                    <a href="#" class="link contact">Contato</a>
                </div>
        
                <div class="menu-bottom-search">
                    <input type="text" class="seach-field" name="search-input" placeholder="Buscar...">
                    <div class="search-icon"></div>
                </div>
            </div>
        </div>
    </header>

    
</body>
</html>


