<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../public/css/home.css">
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,300,0,-50..200" />

</head> 
<body>
    
    <main>
        <section class="hero">
            <div class="left-arrow-button"></div>
            
            <div class="hero-banner conteiner">
                <h1>Banner</h1>
                <span>Lorem ipsum dolor sit int amet, consectetur</span>
                <input type="button" value="Lorem Ipsum">
            </div>
            <div class="right-arrow-button"></div>
        </section>

        <section class="bar">
            <div class="bar-conteiner conteiner">
                <div class="bar-item">
                    <img src="../public/img/icons/frete-icon-b.png" class="bar-item-image"/>
                    <div class="bar-item-text">
                        <h5>Frete Grátis</h5>
                        <span>Em compras acima de R$200</span>
                    </div>
                </div>
                <div class="bar-item">
                    <img src="../public/img/icons/credit-card-icon-b.png" class="bar-item-image"/>
                    <div class="bar-item-text">
                        <h5>Parcele Suas Compras</h5>
                        <span>No cartão de crédito</span>
                    </div>
                </div>
                <div class="bar-item">
                    <img src="../public/img/icons/insurance-b.png" class="bar-item-image"/>
                    <div class="bar-item-text">
                        <h5>Compra Garantida</h5>
                        <span>Site 100% seguro</span>
                    </div>
                </div>
                <div class="bar-item">
                    <img src="../public/img/icons/discount--icon-b.png" class="bar-item-image"/>
                    <div class="bar-item-text">
                        <h5>Desconto</h5>
                        <span>Pagando com boleto</span>
                    </div>
                </div>
            </div>
        </section>


        <section class="section-list-products conteiner">
                <h2>Selecionados Para Você</h2>

                <div class="product-list">
                    <a href="" class="left-arrow-button button"></a>

                    <div class="product-list-item">
                        <a href="" class="image">
                            <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                        </a>
                        <div class="product-list-info">
                            <div class="product-list-info-text">
                                <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                                <a href=""><span class="price">R$239,99</span></a>
                            </div>    
                            <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                        </div>
                    </div>
                    <div class="product-list-item">
                        <a href="" class="image">
                            <img src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                         </a>
                        <div class="product-list-info">
                            <div class="product-list-info-text">
                                <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                                <a href=""><span class="price">R$239,99</span></a>
                            </div>    
                            <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                        </div>
                    </div>
                    <div class="product-list-item">
                        <a href="" class="image">
                            <img src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                        </a>
                        <div class="product-list-info">
                            <div class="product-list-info-text">
                                <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                                <a href=""><span class="price">R$239,99</span></a>
                            </div>    
                            <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                        </div>
                    </div>
                    <div class="product-list-item">
                        <a href="" class="image">
                            <img class="image" src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                        </a>
                        <div class="product-list-info">
                            <div class="product-list-info-text">
                                <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                                <a href=""><span class="price">R$239,99</span></a>
                            </div>    
                            <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                        </div>
                    </div>

                    <a class="right-arrow-button button"></a>
                </div>  
        </section>
    </main>
</body>
</html>