<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/not-found.css">
    <title>Pedido Finalizado com Sucesso!</title>
</head>
<body class="conteiner">
    <div class="sucess">
        <img class="sucess-img" src="/img/icons/404-error.png" alt="img sucess">
        <div class="completed-order">
            <h1>Não encontrado!</h1>
            <p>Esse endereço que você está acessando não existe</p>
        </div>
        <button class="button-submit" type="button">VOLTAR</button>
    </div>
</body>
</html>