<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/perfil.css">
    <title>perfil</title>
</head>
<main class="container">
    <section class="user-page">
        <div class="user-page-options">
            <a href="#" class="user-page-option account option-select">
                <div class="image">
                    <img class="image-icon" src="../public/img/icons/user-icon-b.png" alt="perfi"> 
                </div>
                <span>Minha Conta</span>
            </a>
            <a href="#" class="user-page-option orders">
                <div class="image">
                    <img class="image-icon" src="../public/img/icons/caixa-icon-b.png" alt="caixa de Pedidos"> 
                </div>
                <span>Meus Pedidos</span>
            </a>
            <a href="#" class="user-page-option infos">
                <div class="image">
                    <img class="image-icon" src="../public/img/icons/paciente-icon-b.png" alt="Dados pessoais"> 
                </div>
                <span>Meus Dados</span>
            </a>
        </div>

        <div class="user-page-data">
            <h1 class="user-page-data-title">Meus Dados</h1> 
            <div class="user-page-data-blocks">
                <div class="user-page-data-infos acess-infos">
                    <h2 class="title">Informações de acesso</h2>
                    <div>
                        <span class="info">Analyce Ferreira Dapont</span>
                        <span class="info">mail@mail.com.br</span>
                    </div>
                    <button class="button-submit">ALTERAR</button>
                </div>
                <div class="user-page-data-infos adress-infos">
                    <h2 class="title">Endereço</h2>
                    <div>
                        <span class="info">Analyce Ferreira Dapont</span>
                        <span class="info">Rua das Primaveras Setor Comercial 383</span>
                        <span class="info">Sinop, MT, BR - 78550-234</span>
                        <span class="info">Tel: (66) 98411-5450</span>
                    </div>
                    <button class="button-submit">ALTERAR</button>
                </div>
            </div>
            <div class="orders-list">
                <h3>Pedidos</h1>
                <table class="orders-list-table">
                    <tr class="table-titles">
                        <th class="order" colspan="2">Pedido</th>
                        <th>Data Pedido</th>
                        <th>Pagamento</th>
                        <th>Status</th>
                    </tr>
                    <tr class="row">
                        <td class="product-image"><img class="product-image" src="https://source.unsplash.com/950x1100/?game" alt="imagem do produto teste" class="image-product-order"></td>
                        <td class="order-title-info">Produto teste e mais 5 itens</td>
                        <td>10/01/2022</td>
                        <td class="payment-row">Cartão de Crédito</td>
                        <td>Entregue</td>
                        <td><button class="button-submit">Ver Pedido</button></td>
                    </tr>

                </table>
            </div>



        </div>
    </section>
</main>
</html>