<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/perfil.css">
    <title>perfil</title>
</head>
<main class="conteiner">
    <section class="section-1">
        <div class="options">
            <div class="option-my-account">
                <img class="img_my_account" src="../public/img/icons/user-icon-b.png" alt="perfi"> <a href="#">Minha Conta</a>
            </div>
            <div class="option-my_demand">
                <img class="img_my_demand" src="../public/img/icons/caixa-icon-b.png" alt="caixa de Pedidos"> <a href="#">Meus Pedidos</a>
            </div>
            <div class="option-my_dados">
                <img class="img_my_dados" src="../public/img/icons/paciente-icon-b.png" alt="Dados pessoais"> <a href="#">Meus Dados</a>
            </div>
        </div>
            <div class="section-1-dados">
                <h1 class="title-my_dados">Meus Dados</h1> 
                <h2 class="sub-title-info-access">Informações de acesso</h2>
                <h3 class="sub-title-name">Analyce Ferreira Dapont</h3>
                <h3 class="sub-title-email">mail@mail.com.brt</h3>
                <button class="button-submit">ALTERAR</button>
            </div>
            <div class="section-1-adress">
                <h2 class="sub-title-adress">Endereço</h2>
                <h2 class="adress-name">Analyce Ferreira Dapont</h2>
                <h2 class="adress-road">Rua das Primaveras Setor Comercial 383</h2>
                <h2 class="adress-localization">Sinop, MT, BR - 78550-234</h2>
                <h2 class="adress-tel">Tel: (66) 9841-545</h2>
                <button class="button-submit">ALTERAR</button>
            </div>
    </section>
</main>
</html>