<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="../public/css/product-page.css">
</head>
<body>

    <main class="container">
        <section class="product-route">
            <a href="">Home</a>
            <span>></span>
            <a href="">Loja</a>
            <span>></span>
            <a href="">Categoria</a>
            <span>></span>
            <a href="">Produto</a>
        </section>

        <section class="product-content">
            <div class="product-infos">
                <div class="product-infos-images">
        
                    <div class="principal-image">
                        <img src="" alt="">
                        <div class="share-buttons">
                            <a href=""></a>
                            <a href=""></a>
                            <a href=""></a>
                        </div>
                    </div>
        
                    <div class="secondary-images">
                        <div>
                            <a href="" class="left-arrow-button button"></a>

                            <a href="" class="secondary-images-min">
                                <img src="../public/img/icons/img-icon.png" alt="">
                            </a>
                            <a href="" class="secondary-images-min">
                                <img src="../public/img/icons/img-icon.png" alt="">
                            </a>
                            <a href="" class="secondary-images-min">
                                <img src="../public/img/icons/img-icon.png" alt="">
                            </a>
                            <a href="" class="secondary-images-min">
                                <img src="../public/img/icons/img-icon.png" alt="">
                            </a>
                            <a href="" class="secondary-images-min">
                                <img src="../public/img/icons/img-icon.png" alt="">
                            </a>
                            <a href="" class="secondary-images-min">
                                <img src="../public/img/icons/img-icon.png" alt="">
                            </a>

                            <a href="" class="right-arrow-button button"></a>

                        </div>
                    </div>
                    
                </div>
        
                <div class="product-info">
                    <div class="product-info-description">
                        <h2>Lorem Ipsum Dolor Sit int amet</h2>
                        <div>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptate accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quaes. Sed ut perspiciatis</p>
                            <a href="#product-details">Ver mais detalhes</a>
                        </div>
                    </div>
                    <div class="product-info-price">
                        <span>R$ 354,99</span>
                        <h3>R$ 239,99</h3>
                        <span>6x de R$39,84 sem juros</span>
                    </div>
        
                    <div class="product-info-shipping">
                        <div class="product-info-cep">
                            <input type="text" placeholder="CEP">
                            <button><img src="../public/img/icons/search-icon-b.png" alt=""></button>
                        </div>
                        <div class="product-info-cep-price">
                            <span>R$ 14,99</span>
                            <span>Entrega até <strong>04 de Junho</strong></span>
                        </div>
                    </div>
        
                    <div class="product-info-model">
                        <span>Modelo/Cor</span>
                        <div>
                            <button><img src="../public/img/icons/img-icon.png" alt=""></button>
                            <button><img src="../public/img/icons/img-icon.png" alt=""></button>
                            <button><img src="../public/img/icons/img-icon.png" alt=""></button>
                            <button><img src="../public/img/icons/img-icon.png" alt=""></button>
                        </div>
                    </div>
        
                    <button class="product-info-button button-submit">Comprar</button>
                </div>
        
            </div>

            <div class="section-products-list">
                <h2 class="h2-sections">Selecionados Para Você</h2>
                <div class="product-list">
                    <a href="" class="left-arrow-button button"></a>

                    <div class="product-item">
                        <a href="" class="image">
                            <img  src="../public/img/icons/img-icon.png" alt="">
                        </a>
                        <div class="product-item-info">
                            <div class="product-item-info-text">
                                <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                                <a href=""><span class="price">R$239,99</span></a>
                            </div>    
                            <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                        </div>
                    </div>

                    <div class="product-item">
                        <a href="" class="image">
                            <img src="../public/img/icons/img-icon.png" alt="">
                        </a>
                        <div class="product-item-info">
                            <div class="product-item-info-text">
                                <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                                <a href=""><span class="price">R$239,99</span></a>
                            </div>    
                            <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                        </div>
                    </div>

                    <div class="product-item">
                        <a href="" class="image">
                            <img src="../public/img/icons/img-icon.png" alt="">
                        </a>
                        <div class="product-item-info">
                            <div class="product-item-info-text">
                                <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                                <a href=""><span class="price">R$239,99</span></a>
                            </div>    
                            <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                        </div>
                    </div>

                    <div class="product-item">
                        <a href="" class="image">
                            <img class="image" src="../public/img/icons/img-icon.png" alt="">
                        </a>
                        <div class="product-item-info">
                            <div class="product-item-info-text">
                                <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                                <a href=""><span class="price">R$239,99</span></a>
                            </div>    
                            <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                        </div>
                    </div>

                    <a class="right-arrow-button button"></a>
                </div>  
            </div>

            <div class="product-details" id="product-details">
                <h2 class="h2-sections">Sobre o produto</h2>

                <div class="product-details-blocks">
                    <div class="product-details-block">
                        <h3>Lorem ipsum dolor sit int amet</h3>
                        <div>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptate accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quaes. Sed ut perspiciatis.
                            </p><br>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
                            </p>
                        </div>
                    </div>

                    <div class="product-details-block">
                        <h3>Lorem ipsum dolor sit int amet</h3>
                        <div>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptate accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quaes. Sed ut perspiciatis.
                            </p><br>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
                            </p>
                        </div>
                    </div>

                    <div class="product-details-block">
                        <h3>Lorem ipsum dolor sit int amet</h3>
                        <p>Medidas do Produto Montado: <br>
                            Altura: 95cm <br>
                            Profundidade fechado: 90cm <br>
                            Profundidade aberto: 150cm <br>
                            Largura: 150cm <br>
                            <br>
                            IMPORTANTE: Não há necessidade de montagem, pois o mesmo já vai montado. <br>
                            <br>
                            Informações Extras: <br>
                            Peso suportado: 110kg por pessoa <br>
                            Quantidades de Lugares: acomoda até 2 pessoas <br>
                            Garantia: 6 meses <br>
                            Fabricante: Cama inBox <br>
                            <br>
                            *Entra facilmente em qualquer porta acima de 65cm de  largura</p>
                    </div>
                </div>
            </div>

            <div class="section-products-list">
                <h2 class="h2-sections">Selecionados Para Você</h2>
                <div class="product-list">
                    <a href="" class="left-arrow-button button"></a>

                    <div class="product-item">
                        <a href="" class="image">
                            <img  src="../public/img/icons/img-icon.png" alt="">
                        </a>
                        <div class="product-item-info">
                            <div class="product-item-info-text">
                                <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                                <a href=""><span class="price">R$239,99</span></a>
                            </div>    
                            <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                        </div>
                    </div>

                    <div class="product-item">
                        <a href="" class="image">
                            <img src="../public/img/icons/img-icon.png" alt="">
                        </a>
                        <div class="product-item-info">
                            <div class="product-item-info-text">
                                <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                                <a href=""><span class="price">R$239,99</span></a>
                            </div>    
                            <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                        </div>
                    </div>

                    <div class="product-item">
                        <a href="" class="image">
                            <img src="../public/img/icons/img-icon.png" alt="">
                        </a>
                        <div class="product-item-info">
                            <div class="product-item-info-text">
                                <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                                <a href=""><span class="price">R$239,99</span></a>
                            </div>    
                            <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                        </div>
                    </div>

                    <div class="product-item">
                        <a href="" class="image">
                            <img class="image" src="../public/img/icons/img-icon.png" alt="">
                        </a>
                        <div class="product-item-info">
                            <div class="product-item-info-text">
                                <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                                <a href=""><span class="price">R$239,99</span></a>
                            </div>    
                            <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                        </div>
                    </div>

                    <a class="right-arrow-button button"></a>
                </div>  
            </div>

            <div class="section-products-list">
                <h2 class="h2-sections">Selecionados Para Você</h2>
                <div class="product-list">
                    <a href="" class="left-arrow-button button"></a>

                    <div class="product-item">
                        <a href="" class="image">
                            <img  src="../public/img/icons/img-icon.png" alt="">
                        </a>
                        <div class="product-item-info">
                            <div class="product-item-info-text">
                                <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                                <a href=""><span class="price">R$239,99</span></a>
                            </div>    
                            <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                        </div>
                    </div>

                    <div class="product-item">
                        <a href="" class="image">
                            <img src="../public/img/icons/img-icon.png" alt="">
                        </a>
                        <div class="product-item-info">
                            <div class="product-item-info-text">
                                <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                                <a href=""><span class="price">R$239,99</span></a>
                            </div>    
                            <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                        </div>
                    </div>

                    <div class="product-item">
                        <a href="" class="image">
                            <img src="../public/img/icons/img-icon.png" alt="">
                        </a>
                        <div class="product-item-info">
                            <div class="product-item-info-text">
                                <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                                <a href=""><span class="price">R$239,99</span></a>
                            </div>    
                            <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                        </div>
                    </div>

                    <div class="product-item">
                        <a href="" class="image">
                            <img class="image" src="../public/img/icons/img-icon.png" alt="">
                        </a>
                        <div class="product-item-info">
                            <div class="product-item-info-text">
                                <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                                <a href=""><span class="price">R$239,99</span></a>
                            </div>    
                            <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                        </div>
                    </div>

                    <a class="right-arrow-button button"></a>
                </div>  
            </div>
        </section>

    </main>
    
</body>
</html>
