
<section>
    <div class="product-route">
        <a href="">Home</a>
        <span>></span>
        <a href="">Loja</a>
        <span>></span>
        <a href="">Categoria</a>
        <span>></span>
        <a href="">Poduto</a>
    </div>
    <div class="product-info">
        <div class="product-info-images">
            
            <div class="principal-image">
                <img src="" alt="">
                <div class="share-buttons">
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                </div>
            </div>

            <div class="secondary-images">
                <div>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>
            
        </div>

        <div>
            <div>
                <h2>Lorem Ipsum Dolor Sit</h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptate accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quaes. Sed ut perspiciatis</p>
                <a href="">Ver mais detalhes</a>
            </div>
            <div>
                <span>R$ 354,99</span>
                <h3>R$ 239,99</h3>
                <span>6x de R$39,84 sem juros</span>
            </div>

            <div>
                <div>
                    <input type="text" placeholder="CEP">
                    <button><img src="" alt=""></button>
                </div>
                <div>
                    <span>R$ 14,99</span>
                    <span>Entrega até <strong>04 de Junho</strong></span>
                </div>
            </div>

            <div>
                <span>Modelo/Cor</span>
                <div>
                    <button><img src="" alt=""></button>
                    <button><img src="" alt=""></button>
                    <button><img src="" alt=""></button>
                    <button><img src="" alt=""></button>
                </div>
            </div>

            <button class="button-submit">Comprar</button>
        </div>

    </div>
</section>