<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <link rel="stylesheet" href="../public/css/store.css">
</head>
<body>
    <section class="store-banner">
        <div class="store-banner-container container">
            <h1>Lorem Ipsum</h1>
        </div>
        <img src="../public/img/banners/fortnite-1920x1080-wallpaper-raven.jpg" alt="">
    </section>


    <section class="store-container container">
        <div class="store-filters">
            <h2>Loja</h2>

            <div class="store-filters-inputs">
                <div class="store-filter-rule">
                    <h3>Categoria</h3>
                    <div class="store-options">
                    <div class="store-option">
                        <input type="checkbox" name="acao" id="acao">
                        <label for="acao">Acão</label>
                    </div>
                    <div class="store-option">
                        <input type="checkbox" name="aventura" id="aventura">
                        <label for="aventura">Aventura</label>
                    </div>
                    <div class="store-option">
                        <input type="checkbox" name="puzze" id="puzze">
                        <label for="puzze">Puzze</label>
                    </div>
                    <div class="store-option">
                        <input type="checkbox" name="primeira-pessoa" id="primeira-pessoa">
                        <label for="primeira-pessoa">Primeira Pessoa</label>
                    </div>
                    <div class="store-option">
                        <input type="checkbox" name="rpg" id="rpg">
                        <label for="rpg">RPG</label>
                    </div>
                    <div class="store-option">
                        <input type="checkbox" name="terceira-pessoa" id="terceira-pessoa">
                        <label for="terceira-pessoa">Terceira Pessoa</label>
                    </div>
                    <div class="store-option">
                        <input type="checkbox" name="terror" id="terror">
                        <label for="terror">Terror</label>
                    </div>
                    </div>
                </div>

                <div class="store-filter-rule">
                    <h3>Lorem Ipsum</h3>
                    <div class="store-options">
                        <div class="store-option">
                            <input type="checkbox" name="acao" id="acao">
                            <label for="acao">Dolor Sit Amet</label>
                        </div>
                        <div class="store-option">
                            <input type="checkbox" name="aventura" id="aventura">
                            <label for="aventura">Dolor Sit Amet</label>
                        </div>
                        <div class="store-option">
                            <input type="checkbox" name="puzze" id="puzze">
                            <label for="puzze">Dolor Sit Amet</label>
                        </div>
                    </div>
                </div>

                <div class="store-filter-rule">
                    <h3>Lorem Ipsum</h3>
                    <div class="store-options">
                        <div class="store-option">
                            <input type="checkbox" name="acao" id="acao">
                            <label for="acao">Dolor Sit Amet</label>
                        </div>
                        <div class="store-option">
                            <input type="checkbox" name="aventura" id="aventura">
                            <label for="aventura">Dolor Sit Amet</label>
                        </div>
                        <div class="store-option">
                            <input type="checkbox" name="puzze" id="puzze">
                            <label for="puzze">Dolor Sit Amet</label>
                        </div>
                        <div class="store-option">
                            <input type="checkbox" name="1" id="1">
                            <label for="1">Dolor Sit Amet</label>
                        </div>
                        <div class="store-option">
                            <input type="checkbox" name="2" id="2">
                            <label for="2">Dolor Sit Amet</label>
                        </div>
                    </div>
                </div>

                <div class="store-filter-rule">
                    <h3>Lorem Ipsum</h3>
                    <div class="store-options">
                        <div class="store-options-values">
                            <div>
                                <label for="min-value">Min Value</label>
                                <input type="text" name="min-value" id="" placeholder="Min Value">
                            </div>
                            <div>
                                <label for="max-value">Max Value</label>
                                <input type="text" name="max-value" id="" placeholder="Max Value">
                            </div>
                        </div>
                    </div>
                </div>

                <button class="button-submit">Filtrar</button>
            </div>
        </div>



        <div class="store-gallery">
            <div class="store-gallery-products gallery-products">

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

                <div class="product-item">
                    <a href="" class="image">
                        <img  src="../public/img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp" alt="">
                    </a>
                    <div class="product-item-info">
                        <div class="product-item-info-text">
                            <a href=""><span class="title">Lorem ipsum dolor sit amet consectetur </span></a>
                            <a href=""><span class="price">R$239,99</span></a>
                        </div>    
                        <a href="#"><img class="like-button" src="../public/img/icons/like-icon-b.png" alt=""></a>
                    </div>
                </div>

            </div>
            <button class="button-submit">Ver mais</button>
        </div>

    </section>
    
</body>
</html>