<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="../public/css/sucess-shop.css">
     
</head>
<body>
<img class="imagem1" src="../public/img/outhers/img-sucess.png"/>
<h1>Pedido Finalizado com Sucesso!</h1>  
<h3>Você receberá um e-mail de confirmação assim<br>que o pagamento for processado</h3> 
<button class="button-submit">ACESSAR PEDIDOS</button>  
</body>
</html>