<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../public/css/user-update-data.css" media="screen">
        <title>Formulário</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>

    <body>

        <fieldset class="icon-menu">
            <img class="user-icon"  src="../public/img/icons/user-icon-b.png" alt="user icon">
            <img class="box-icon" src="../public/img/icons/caixa-icon-b.png" alt="box icon">
            <img class="patient-icon" src="../public/img/icons/paciente-icon-b.png" alt="patient icon">
        </fieldset>
        
        <section class="container-section-my-data">
        
         <div class="menu">
            <h3>Minha Conta</h3>
            <h3>Meus Pedidos</h3>
            <h3 class="menu-my-data">Meus Dados</h3>
            <br>
        </div>

        <div class="my-data-inputs">
        <div class="title">
            <h2>MEUS DADOS</h2>
            <br>
        </div>
        
        
        <div class="personal-data">
            <h2 id="subtitle-personal-data">DADOS PESSOAS</h2>
            <br>
        </div>
            
            <form class="personal-data-form" action="" method="POST">
            
                <label for="name">Nome do Destinário</label>
                <input type="text" name="name" id="name" placeholder="Digite seu nome">
                <br>
            
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Digite seu email">
                <br>
                
                <fieldset class="group">
                    <label for="cpf">CPF</label>
                       <input type="number"   name="cpf" id="cpf"  placeholder="Digite seu CPF" >

                    <label for="date">Data de Nascimento<label>
                       <input type="date" name="date" id="date" placeholder="Digite sua data de nascimento" >
                          <br>
                </fieldset>
                
                <fieldset class="group">
                    <label for="telephone">Telefone</label>
                    <input type="tel" class="form-control cel-sp-mask" name="telephone" id="telephone" placeholder="Ex.: (00) 00000-0000" maxlength="11">
                
                    <label for="sexo">Genero</label>
                       <select name="sexo" id="sexo">
                           <option value="1">Masculino</option>
                           <option value="2">Feminino</option>
                           <option value="3">Prefiro não informar</option>
                      </select>
                      <br><br>
                </fieldset>
               
            
                <div class="address"> 
                    <h2 id="subtitle">ENDEREÇO</h2>
                    <br>
                
                <label for="name">Nome do Destinário</label>
                <input type="text" name="name" id="name" placeholder="Digite seu nome">
                <br>
                
                <label for="name">Endereço</label>
                <input type="text" name="address" id="address" placeholder="Digite seu endereço">
                <br>
                
                <fieldset class="group">
                    <label for="number">Número</label>
                <input type="number" name="number" id="number" >

                <label for="district">Bairro</label>
                <input type="text" name="district" id="district" >
                <br>
                </fieldset>
                
                
                <label for="complement">Complemento</label>
                <input type="text" name="complement" id="complement">
                <br>
                
                <fieldset class="group">
                    <label for="city">Cidade</label>
                        <input type="text" name="city" id="city">

                    <label for="state">Estado</label>
                       <select type="text" name="state" id="state">
                            <option value="0">Escolha sua região</option>
                            <optgroup label="Norte">
                               <option value="1">Acre</option>
                               <option value="2">Amapá</option>
                               <option value="3">Amazonas</option>
                               <option value="4">Pará</option>
                               <option value="5">Rondônia</option>
                               <option value="6">Roraima</option>
                               <option value="7">Tocantins</option>
                            </optgroup>
                    
                            <optgroup label="Nordeste">
                              <option value="8">Alagoas</option>
                              <option value="9">Bahia</option>
                              <option value="10">Ceará</option>
                              <option value="11">Maranhão</option>
                              <option value="12">Paraíba</option>
                              <option value="13">Pernambuco</option>
                              <option value="14">Piauí</option>
                              <option value="15">Rio Grande do Norte</option>
                              <option value="16">Sergipe</option>
                            </optgroup>

                            <optgroup label="Centro-Oeste">
                               <option value="17">Goiás</option>
                               <option value="18">Mato Grosso</option>
                               <option value="19">Mato Grosso do Sul</option>
                               <option value="20">Distrito Federal</option>
                            </optgroup>

                            <optgroup label="Sudeste">
                                <option value="21">Espírito Santo</option>
                                <option value="22">Minas Gerais</option>
                                <option value="23">Rio de Janeiro</option>
                                <option value="24">São Paulo</option>
                            </optgroup>
                    
                            <optgroup label="Sul">
                                <option value="25">Paraná</option>
                                <option value="26">Rio Grande do Sul</option>
                                <option value="27">Santa Catarina</option>
                            </optgroup>
                       </select>
                    <br>
                </fieldset>
                

                <label for="reference">Ponto de Referência</label>
                <input type="text" name="reference" id="reference">
                <br>
                
                <fieldset class="group">
                    <label for="phone">Telefone para contato</label>
                        <input type="tel" class="form-control cel-sp-mask" name="phone" id="phone" placeholder="Ex.: (00) 00000-0000" maxlength="11">

                    <label for="cep">CEP</label>
                        <input type="text" class="form-control cep-mask" name="cep" id="cep" placeholder="Ex.: 00000-000" maxlength="8">
                      <br><br>
                </fieldset>
            
                </div>

                <div class="button">
                    <button type="submit">SALVAR INFORMAÇÕES</button>
                </div>

            </form>     
        </section>
    </body>
</html>