<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../public/css/user-update-data.css" media="screen">
        <title>Formulário</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    <body >
    <section class="container secao-meus-dados">
        
        <div class="itens">
            <h3>Minha Conta</h3>
            <h3>Meus Pedidos</h3>
            <h3 class="item-meus-dados">Meus Dados</h3>
            <br>
        </div>

        <div class="meus-dados-inputs">
        <div class="titulo">
            <h2>MEUS DADOS</h2>
            <br>
        </div>
        
        
        <div class="dados-pessoas">
            <h2 id="subtitulo">DADOS PESSOAS</h2>
            <br>
            
            <form class="formulario-dados-pessoais" action="" method="POST">
                
                <label for="nome">Nome do Destinário</label>
                <input type="text" name="nome" id="nome" placeholder="Digite seu nome">
                <br>
            
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Digite seu email">
                <br>
                
                
                    <label for="cpf">CPF</label>
                <input type="number" class="form-control cpf-mask" name="cpf" id="cpf" placeholder="Digite seu CPF" >

                <label for="data">Data de Nascimento</label>
                <input type="date" name="data" id="data" placeholder="Digite sua data de nascimento" >
                <br>
                
                
                <label for="telefone">Telefone</label>
                <input type="tel" class="form-control cel-sp-mask" name="telefone" id="telefone" placeholder="Ex.: (00) 00000-0000" maxlength="11">
                
                <label for="sexo">Genero</label>
                <select name="sexo" id="sexo">
                        <option value="1">Masculino</option>
                        <option value="2">Feminino</option>
                        <option value="3">Prefiro não informar</option>
                </select>
                <br><br>
                </div>

                <div class="endereco"> 
                    <h2 id="subtitulo">ENDEREÇO</h2>
                    <br>
                
                <label for="nome">Nome do Destinário</label>
                <input type="text" name="nome" id="nome" placeholder="Digite seu nome">
                <br>
                
            
                <label for="nome">Endereço</label>
                <input type="text" name="nome" id="nome" placeholder="Digite seu endereço">
                <br>
                
                <label for="numero">Número</label>
                <input type="number" name="numero" id="numero" >

                <label for="bairro">Bairro</label>
                <input type="text" name="bairro" id="bairro" >
                <br>
                
                <label for="complemento">Complemento</label>
                <input type="text" name="complemento" id="complemento">
                <br>
                
                <label for="cidade">Cidade</label>
                <input type="text" name="cidade" id="cidade">

                <label for="estado">Estado</label>
                <select type="text" name="estado" id="estado">
                    <option value="0">Escolha sua região</option>
                    <optgroup label="Norte">
                        <option value="1">Acre</option>
                        <option value="2">Amapá</option>
                        <option value="3">Amazonas</option>
                        <option value="4">Pará</option>
                        <option value="5">Rondônia</option>
                        <option value="6">Roraima</option>
                        <option value="7">Tocantins</option>
                    </optgroup>
                    
                    <optgroup label="Nordeste">
                        <option value="8">Alagoas</option>
                        <option value="9">Bahia</option>
                        <option value="10">Ceará</option>
                        <option value="11">Maranhão</option>
                        <option value="12">Paraíba</option>
                        <option value="13">Pernambuco</option>
                        <option value="14">Piauí</option>
                        <option value="15">Rio Grande do Norte</option>
                        <option value="16">Sergipe</option>
                    </optgroup>

                    <optgroup label="Centro-Oeste">
                        <option value="17">Goiás</option>
                        <option value="18">Mato Grosso</option>
                        <option value="19">Mato Grosso do Sul</option>
                        <option value="20">Distrito Federal</option>
                    </optgroup>

                    <optgroup label="Sudeste">
                        <option value="21">Espírito Santo</option>
                        <option value="22">Minas Gerais</option>
                        <option value="23">Rio de Janeiro</option>
                        <option value="24">São Paulo</option>
                    </optgroup>
                    
                    <optgroup label="Sul">
                        <option value="25">Paraná</option>
                        <option value="26">Rio Grande do Sul</option>
                        <option value="27">Santa Catarina</option>
                    </optgroup>
                </select>
                <br>

                <label for="referencia">Ponto de Referência</label>
                <input type="text" name="referencia" id="referencia">
                <br>
                
                <label for="telefone">Telefone para contato</label>
                <input type="tel" class="form-control cel-sp-mask" name="telefone" id="telefone" placeholder="Ex.: (00) 00000-0000" maxlength="11">

                <label for="cep">CEP</label>
                <input type="text" class="form-control cep-mask" name="cep" id="cep" placeholder="Ex.: 00000-000" maxlength="8">
                <br><br>
                </div>

                <div class="botao">
                <button class="button-submit" type="submit">SALVAR INFORMAÇÕES</button>
            </div>
        </form>
        </div>
        </section>
    </body>
</html>