.page-cart {
    margin-top: 200px;
    width: 100%;
    
    /* border: solid 8px chartreuse; */
}

.page-cart h1 {
    margin-top: 2em;
}


.cart-content {
    display: flex;
    flex-direction: co;
    gap: 16px;
    width: 100%;
    /* border: solid 10px yellow; */
    /* border: solid 2px rgb(150, 114, 30); */
}

.cart-infos {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    /* border: solid 10px yellow; */
    /* border: solid 2px rgb(150, 114, 30); */
}

.order-datails {
    width: 100%;
}

.table-products {
    width: 100%;
    border-collapse: collapse;
}

th {
    height: 3em;
    border-bottom: 1.5px solid var(--color-background-5);
}

td {
    padding: .7em 0;
    border-bottom: 1.5px solid var(--color-background-5);
    text-align: center;
}

.th-product-image-title {
    width: 60%;
    padding-left: 1em;
    text-align: start;
}

.td-product-image-title {
    display: flex;
    width: 100%;
}
.td-product-image-title a{
    width: 100%;

    display: flex;
    align-items: center;
    text-align: start;
}

.cart-product-description {
    padding: 0 1em;
}

.cart-product-image {
    width: 110px;
    min-width: 110px;
    height: 120px;
    border-radius: 1em;

    object-fit: cover;
}

.quantity-button {
    width: 70px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid var(--color-text);
    border-radius: .5em;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .3em;

    font-size: 1.1rem;
}

.quantity-button button {
    font-size: 1.6rem;
    cursor: pointer;
}

.quantity-button button:hover {
    color: var(--color-contrast-1);
}

.quantity-button input.input{
    width: 100%;
    border: none;
    padding: 0 .2em;
    text-align: center;
}

.quantity-button input.input:focus{
    border: none;
    background: none;
}

.button-remove {
    width: 80px;
    max-width: 100%;
    height: 25px;

    border-radius: 20px;
    border: .1rem solid transparent;
    background: linear-gradient(to right, var(--color-background-2), var(--color-background-2)), var(--color-gradient); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.button-remove:hover {
    border: .1rem solid transparent;
    background: linear-gradient(to right, var(--color-background-3), var(--color-background-3)), var(--color-gradient-hover); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}





/*---------------- ORDER RESUME ----------------*/
.order-resume {
    width: 100%;
    max-width: 318px;
    background-color: var(--color-background-3);
    border-radius: 20px;
    padding: 2.5em 2.57em;

    display: flex;
    flex-direction: column;
    row-gap: 2.2em;
}

.resume-content {
    display: flex;
    flex-direction: column;
    row-gap: 1.2em;
}

.order-itens-resume {
    display: flex;
    justify-content: space-between;
}

.order-itens-resume div{
    display: flex;
    flex-direction: column;
    row-gap: .8em;
}

.order-itens-resume .values {
    text-align: end;
}

.order-total-resume .p-pix, #p-pix {
    text-align: end;
    margin-top: .4em;
    color: var(--color-contrast-1);
}


.order-total-resume div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.order-total-resume div div{
    display: flex;
    flex-direction: column;
    text-align: end;
    row-gap: .2em;
}

.order-total-resume strong {
    font-size: 1.2rem;
}

.order-total-resume-value p {
    color: var(--color-text-opacity-70);
    font-size: .9rem;
}

.order-resume-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: .8em;
}
a .button-submit {
    width: 100%;
}

button.button-submit {
    margin: 0;
    border-radius: .4em;
    height: 50px;
}

.order-resume-buttons a {
    color: var(--color-contrast-1);
    font-size: .9rem;
    font-weight: 500;
    text-align: center;
}



/*----------- SHIPPING ------------*/
.product-info-shipping {
    position: relative;
    max-width: 255px;
    
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}

.product-info-shipping input {
    max-width: 255px;
    height: 40px; 
    font-size: 16px;
    font-weight: 500;

    border: none;
    background-color: var(--color-background-3);

}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--color-background-3) inset;
    -webkit-text-fill-color: var(--color-text) !important;

}

.product-info-shipping img {
    width: 17px;
    opacity: 30%;
}

.product-info-shipping img:hover {
    width: 17px;
    opacity: 60%;
    box-shadow: 2px 2px 2px var(--color-background-3);
}
.product-info-shipping a, .product-info-shipping button{
    position: absolute;
    right: 50px;
    top: 50px;
    cursor: pointer;
}




/*----------- SHIPPING VALUE ------------*/
.product-info-cep-price {
    display: flex;
    flex-direction: column;
}
 
.product-info-cep-price span:first-child {
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
}

.product-info-cep-price span:last-child {
    font-size: 12px;
    font-weight: 400;
}



/*------------ IF NOT ORDER ------------*/
.not-order-in-cart {
    width: 3em;
}

