
main {
    padding-top: 50px;
}

.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---- section 1 start ---  */
.finalizar-pedido1 {
    position: relative;
    right: 473px;
    margin-top: 50px;
    z-index: 2;
}

.selecione-o-frete {
  margin: 34px 0 30px 0;
}

.cart-payment {
    width: 1170px;
}

.cart-pament-freight {
    display: flex;
    justify-content: center;
    gap: 42px;
} 

.payment-option-delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 261px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}

.payment-option-delivery:hover {
    border: .13rem solid transparent;
    background: linear-gradient(to right, var(--color-background-pages), var(--color-background-pages)), var(--color-gradient); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

strong {
    font-weight: 600;
}

.option-delivery-delivery-date {
    width: 231pxpx;
    font-size: 18px;
    text-align: center;
}

.payment-address-order_summary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;
    width: 1170px;
}

.address-order_summary-address {
    width: 585px;
    height: 267px;
    margin-top: 40px;
    border-right: solid 2px var(--color-background-3);
}

.address-delivery-address {
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 25px;
}

.adress-complete-paragraph {
    font-weight: 500;
}

.address-order_summary-abstract {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20px;
    width: 554px;
    height: 234px;
    background-color: var(--color-background-3);
    border-radius: 20px;
}

.abstract-summary-abstract {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    margin: 20px 0 20px 0;
}

a:hover {
    color: #8803ca;
}

.abstract-price-product,.abstract-price-freight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    margin: 0px 0 5px 0;
}

.abstract-price-freight {
    padding-bottom: 18px;
    border-bottom: solid 2px #616369;
}

.abstract-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    margin-top: 20px;
}

.abstract-juros-pix {
    display: flex;
    justify-content: flex-end;
    width: 450px;
}

.abstract-juros-pix-rigth {
    position: relative;
    left: 10px;
    width: 220px;
}

.juros {
    position: relative;
    left: 60px;
}

.payment-pix {
    color: blue;
}
/* ---- section 1 end ---  */

/* ---- section 2 start ---  */

.payment-dice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cato-pix-menu-cato-pix {
    display: flex;
    justify-content:center;
    gap: 345px;
    align-items: center;

    width: 1170px;
    height: 70px;
    background-color: var(--color-background-3);
    margin: 90px 0 45px 0;
}

.Dados-do-Cartao {
    font-weight: 500;
    margin-bottom: 35px;
}

 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 900px;
}

.cpf {
    width: 190px;
    height: 40px;
}

.div-form-numero-do-cartao {
    position: relative;
    left: 52px;
}

.cartaoNumero,.nome {
    width: 400px;
    height: 40px;
}

.div-form-nome {
    position: relative;
    left: 58px;
}

.div-form-valiade-cv{
    position: relative;
    left: 78px;
}

.validade {
    width: 190px;
    height: 40px;
    margin-right: 30px;
}

.cv{
    width: 133px;
    height: 40px;
}

.div-form-installments{
    position: relative;
    right: 22px;
}

.pacelas {
    width: 270px;
    height: 40px;
}

.linha {
    margin: 45px 0 21px 0;
    width: 561px;
    position: relative;
    left: 50px;
    border-bottom: solid 2px rgb(115, 115, 119)
}

.form-total-proce {
    position: relative;
    bottom: 40px;
    left: 50px;
}

.button-submit {
    width: 220px;
    height: 44px;
    margin-left: 50px;
}
/* ---- section 2 end ---  */

@media screen and (max-width: 1181px) {
    .payment-option-delivery {
        width: 200px;
        height: 150px;
        border: solid 2px aquamarine;
    }
    
    .cart-pament-freight {
       border: solid 3px blue;
       /* display: flex;
       flex-direction: column; */
    }
}
