
section {
    margin-top: 200px;
}

    /* cart menu  */
.cart-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1165px;
    height: 70px;
    background-color: var(--color-background-3);
    /* border: solid 2px green; */
}

nav {
    color: blueviolet;
}


.cart-menu-navigation {
    display: flex;
    gap: 179px;
    /* border: solid 2px green; */
}

.subparagraph-my-cart {
    margin: 50.45px 0 50px 0;
}

.cart-content {
    display: flex;
    gap: 16px;
    width: 1165px;
    /* border: solid 2px rgb(150, 114, 30); */
}

.cart-content-juction {
    width: 835px;
}

.cart-content-juction-specification-1 {
    display: flex;
    justify-content:space-between;
    width: 831px;
    margin-bottom: 10px;
    /* border: solid 1px blue; */
}

.specification-1-QUANTIDADE-ENTREGA-PRECO {
    display: flex;
    gap: 50px;
    width: 350px;
    /* border: solid 2px green; */
}

.content-juction-specification-product {
    display: flex;
    align-items: center;
    gap: 45px;
    width: 831px;
    border-top: solid 2px var(--color-background-3);
    border-bottom: solid 2px var(--color-background-3);
    padding: 10px;
    /* border: solid 2px rgb(171, 15, 127); */
}

.juction-specification-2-image-name-information{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 423px;
    /* border: solid 2px rgb(150, 114, 30); */
}

.especificanton-2-rectangle-img {
    width: 100px;
    height: 110.25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: var(--color-background-3);
    /* border: solid 2px rgb(150, 114, 30); */
    
}

.produtc-img {
    width: 67.11px;
    height: 50.14px;
}


.name-product {
    font-size: 14px;
}

.content-juction-spacificantion-2 {
    display: flex;
    align-items: center;
    gap: 50px;
    /* width: 205px; */
    /* gap: 51px; */
    /* border: solid 2px rgb(4, 229, 233); */
}

.juction-spacificantion-2-product-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    margin-left: 12px;
}

.button-qunatity {
    font-size: 34px;
    border: solid 1px yellowgreen;
}

/* .juction-spacificantion-2-product-quantity .the-amount input {
    width: 10px;
    height: 29px;
    border: none;
    margin: 0 5px 0 5px;
} */

.button-remover {
    width: 80px;
    height: 25px;
    background: var(--color-background-3);
    border-radius: 20px;
    border: solid 1px white;
}

.button-remover:focus {
    border: .13rem solid transparent;
    background: linear-gradient(to right, var(--color-background-pages), var(--color-background-pages)), var(--color-gradient); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.the-amount {
    width: 40px;
}

.deadline {
    width: 104px;
    position: relative;
    left: 15px;
}

.cart-contect-Oder-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 318px;
    height: 420.96px;
    background-color: var(--color-background-3);
    border-radius: 20px;
    /* border: solid 2px rgb(74, 32, 189); */
}

.Oder-summary{
    font-weight: 600;
    margin: 34px 0 34px 0;
}

.Oder-summary-name-value {
    display: flex;
    justify-content: space-between;
    width: 227px;
    /* border: solid 2px rgb(74, 32, 189); */
    padding-bottom: 12px;
}

.Oder-summary-freight-value {
    display: flex;
    justify-content: space-between;
    width: 227px;
    padding-bottom: 17px;
    border-bottom: solid 2px var(--color-background-pages);
}

.Oder-summary-total-value {
    display: flex;
    justify-content: space-between;
    width: 227px;
    padding-top: 18px;
}

.Oder-summary-fees {
    display: flex;
    justify-content: flex-end;
    width: 227px;
    padding-bottom: 18px;
}

.Oder-summary-link-pix {
    width: 227px;
    padding-bottom: 16.87px;
    color: rgba(84, 3, 255,60%);
    border-bottom: solid 2px var(--color-background-pages);
}

.button-submit {
    width: 220px;
}

.Oder-summary-link-to-add {
    margin-top: 19.4px;
    color: rgba(84, 3, 255,60%);
}

.cart-freight {
    width: 400px;
    position: relative;
    bottom: 223px;
    z-index: 2;
    /* border:solid 2px rgba(11, 242, 53, 0.6); */

}

.cart-freigth-subparagrafo {
    margin: 0 0 9px 0;
}

.cart-freight-calcular input[type=text] {
    width: 265px;
    margin-bottom: 17px;
}

.cart-freight-deadline {
    display: flex;
    flex-direction: column;
}

.checkbox-delivery {
    border: solid 2px blue;
}

/* -------- RESPONSIVIDADE ---------------- */

@media screen and (max-width: 850px){
   
    .cart-content{
        flex-direction: column;
    }
    .cart-freight{
        position: relative;
        left: 500px;
        bottom: 400px;
    }
}