
main {
    padding-top: 50px;
    width: 1165px;
    max-width: 100%;
    /* border: solid 8px blue; */
} 

.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.finalizar-pedido1 {
    width: 100%;
    /* border: solid 8px gray; */
    margin-top: 50px;
}

/* <-- ------------------inicio da section - cart-payment -------------------------- --> */


.cart-payment {
    width: 100%;
    /* max-width: 100%; */
}

.selecione-o-frete {
    width: 100%;
    margin: 34px 0 34px 0;
    /* border: solid 8px indigo; */
}

.cart-pament-freight {
    display: flex;
    justify-content: center;
    gap: 42px;
    /* border: solid 8px indigo; */
} 

.payment-option-delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 261px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}

.payment-option-delivery:hover {
    border: .13rem solid transparent;
    background: linear-gradient(to right, var(--color-background-pages), var(--color-background-pages)), var(--color-gradient); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

strong {
    font-weight: 600;
}

.option-delivery-delivery-date {
    width: 231pxpx;
    font-size: 18px;
    text-align: center;
}

.payment-address-order_summary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;
    width: 100%;
    /* border: solid 8px hotpink; */
}

.address-order_summary-address {
    width: 585px;
    max-width: 100%;
    height: 267px;
    margin-top: 40px;
    border-right: solid 2px var(--color-background-3);
    /* border: solid 8px navajowhite; */
}

.address-delivery-address {
    width: 100%;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 25px;
    /* border: solid 6px yellow; */
}

.address-complete {
    width: 100%;
    /* border: solid 6px whitesmoke; */
}

.adress-complete-paragraph {
    font-weight: 500;
}

.address-order_summary-abstract {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 53%;
    max-width: 100%;
    height: 234px;
    background-color: var(--color-background-3);
    border-radius: 20px;
    /* border: solid 6px mediumspringgreen; */
}

/* ---------------RESUMO DO PEDIDO-------------------------- */

/* .address-order_summary-abstract {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 19px;
} */

.resumo-pedido {
    display: flex;
    justify-content: center;
    width: 90%;
    /* border: solid 2px blueviolet; */
    /* border: solid 6px whitesmoke; */

}

.subp-resumo-pedido {
    width: 100%;
    /* border: solid 6px rosybrown; */
}

.produtos-precos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    padding-bottom: 10px;
    border-bottom: solid 2px var(--color-background-pages);  
    /* border: solid 6px rosybrown; */
}

.produto-frete {
    width: 100%;
    /* border: solid 6px lawngreen; */
}

.total-preco {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    width: 90%;
    /* border: solid 2px violet; */
}

.subp-total {
    width: 100%;
    /* border: solid 6px lawngreen; */
}

.preco-produro-juros-pix {
    text-align: end;
    width: 100%;
    /* max-width: 100%; */
    /* border: solid 6px rosybrown; */
}

.voltar,.pagando-pix {
    color: var(--color-contrast-1);
} 

/* <!-- ------------------fim da section - cart-payment -------------------------- --> */


/* ---------------END RESUMO DO PEDIDO-------------------------- */

/****************** CAIXA DE FORMULARIO DE PAGAMENTO ******************/


/* ----------------- FIST MENU PIX E CARTÃO------------------------- */
.payment-dice {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.menu-cartao-pix {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 345px;
    width: 90%;
    max-width: 100%;
    height: 70px;
    margin-top: 83px;
    background-color: var(--color-background-3);
}

.menu-cartao:hover {
    color: var(--color-contrast-1);
}

.menu-pix:hover {
    color: var(--color-contrast-1);
}

/* ----------------- END MENU PIX E CARTÃO------------------------- */


/****************** FORMULARIO DE PAGAMENTO - CARTÃO ******************/

.form-payment {
    width: 100%;
    height: 100%;
    max-width: 575px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.labels-e-inputs {
    display: flex;
    width: 100%;
    gap: 2%
}

.labels-e-inputs .labels {
    width: 30%;
    display: flex;
    flex-direction: column;

    text-align: end;

    justify-content: center;
    gap: 14.5%;
}

.labels-e-inputs .inputs {
    width: 68%;
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.inputs input {
    width: 100%;
}

.inputs div {
    display: flex;
    align-items: center;
    gap: 10px
}

.inputs div label {
    margin-left: 8px;
}

.button-submit {
    width: 100%;
    max-width: 280px;
    height: 40px;
    margin-left: 115px;

    border-radius: 20px;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;

    color: var(--color-background-1);
    background: var(--color-gradient);

    cursor: pointer;
}




/* ---- section 2 end ---  */

@media screen and (max-width: 960px) {
   .address-order_summary-abstract {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 280px;
        margin-top: 30px;
   }
 
}

@media screen and (max-width: 738px) {
    
    .cart-pament-freight {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .payment-option-delivery {
        width: 80%;
        height: 70px;
    }

    .payment-address-order_summary {
        display: flex;
        flex-direction: column;
    }

    .address-order_summary-abstract {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 325px;
        width: 70%;
   }

   .menu-cartao-pix {
    display: flex;
    gap: 100px;
    height: 40px;
   }

   .button-submit {
    margin-right: 100px;
   }

}
