@import url(./general.css);
@import url(./partials/buttons/button-submit.css);

.entrega {
 margin: 60px 0 40px 0;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    width:1110px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.information-cep {
    width: 190px;
}

.div-information-name {
    position: relative;
    right: 132px;
    z-index: 2;
}

.information-name {
    width: 480px;
}

.div-information-address {
    position: relative;
    right: 40px;
    z-index: 2;
}

.information-addreass {
    width: 480px;
}

.div-information-number {
    position: relative;
    right: 27px;
    z-index: 2;
}

.information-number {
    width: 130px;
}

.div-information-complement {
    position: relative;
    right: 76px;
    z-index: 2;
}

.information-complement {
    width: 480px;
}

.div-information-district {
    position: relative;
    right: 13px;
    z-index: 2;
}

.information-district{
    width: 270px;
}

.div-information-city {
    position: relative;
    right: 23px;
    z-index: 2;
}

.information-city {
    width: 480px;
}

.div-information-state {
    position: relative;
    right: 20px;
    z-index: 2;
}

.information-state-select {
    width: 190px;
}

option {
    color: blueviolet;
}

.div-information-reference {
    position: relative;
    right: 114px;
    z-index: 2;
}

.information-reference {
    width: 480px;
}

.div-information-telefhone {
    position: relative;
    right: 87px;
    z-index: 2;
}

.information-telefhone {
    width: 270px;
}

/* .linha {
    width: 1000px;
    position: relative;
    right: 80px;
    border-bottom: solid 2px blue;
} */

.button-submit {
    margin: 92px 0 19px 0;
    position: relative;
    left: 33px;
}

.voltar {
    position: relative;
    left: -142px;
    font-weight: 600;
    color: rgba(84, 3, 255,60%);
}