@import url('./general.css');




position: absolute;
width: 2112px;
height: 380px;
left: -96px;
top: 90px;

background: url("imagem1");
background-blend-mode: luminosity;




img {

     height: 380px;
     width: 2112px;
     left: -96px;
     top: 90px;
     border-radius: 0px;

}

/* lOREM IPSUM */

div {
     display: block;
     justify-content: center;
     flex-direction: column;  
      
}

