@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Urbanist, sans-serif;
    letter-spacing: .5px;
    text-decoration: none;
    outline: none;
    border: none;
    color: var(--color-text);
    /*font-weight: 300;*/

    z-index: 2;
}

/*----------- ROOT COLORS THEME -----------*/
:root {
    --color-background-pages: #1F242D;
    --color-background-1: #030305; 
    --color-background-2: rgba(0, 0, 0, 90%);
    --color-background-3: #111419;
    --color-background-4: #030305a3;
    --color-gradient: linear-gradient(to right, #26C5F3, #B429F9);
    --color-gradient-invert: linear-gradient(to left, #26C5F3, #B429F9);
    --color-gradient-hover: linear-gradient(to right, #0095be, #8803ca);
    --color-gradient-hover-invert: linear-gradient(to left, #0095be, #8803ca);

    --color-contrast-1: #6B79F6;  
    --color-contrast-2: #43A6F4;

    --color-border: #C4C4C4;

    --color-text: #ebeeff;
    --color-text-opacity-70: rgba(235, 238, 255, 70%);
    --color-text-opacity-15: rgba(235, 238, 255, 15%);
    --color-icons: #fff;

    --color-shadow-normal: 0 0 30px rgb(4, 4, 13);
    --color-shadow-color-1: 0 0 40px rgba(158, 3, 255, 0.6);
}



/*--------- FORMAT PAGES ---------*/
body {
    background-color: var(--color-background-pages);
}


.container {
    margin: 0 auto;
    max-width: 1110px;
}

.margin-header {
    margin-top: 130px; 
}

/*--------- LINKS ---------*/
a {
    color: var(--color-text);
}


/*--------- LOGO ---------*/
.logo-203px {
    width: 203px;
    height: 18px;

    background-image: url('../img/logotipo.svg');
    background-repeat: no-repeat;
}



/*--------- INPUTS  ---------*/
input[type=text], input[type=email], input[type=number], input[type=date], input[type=tel], select {
    /* width: 100%; */
    height: 40px;
    padding: 0 10px;
    background: none;
    border: 1px solid var(--color-border);
    border-radius: 10px;

    font-size: 14px;
    font-weight: 600;
}

input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, input[type=date]:focus, input[type=tel]:focus, select:focus  {
    border: .13rem solid transparent;
    background: linear-gradient(to right, var(--color-background-pages), var(--color-background-pages)), var(--color-gradient); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}




/*--------- UNDERLINE LINK - PAGE SELECT ---------*/
.menu-bottom-links .page-select {
    text-shadow: 0 0 20px var(--color-text);
}

.page-select::after {
    content: "";
    width: 120%;
    height: 3px;

    background: var(--color-gradient);

    position: relative;
}



/*---------------- BUTTONS ----------------*/
button {
    background-color: transparent;
}

.button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 25px;
    height: 25px;
    background-color: var(--color-contrast-1);
    border-radius: 50%;
    font-weight: 600;
    line-height: 0;

    letter-spacing: -1px;
}

div .button-icon-material {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 25px;
    height: 25px;
    background-color: var(--color-contrast-1);
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    line-height: 0;

    font-size: 18px;
}




