@import url("./general.css");


/*----------------- MENU TOP ------------------*/
.menu-top{
    background-color: var(--color-background-1);
    height: 65px;
    
    display: flex;
    align-items: center;
}

.menu-top-conteiner {
    display: flex;
    justify-content: space-between;
    width: 100%;
}



/*--------- BUTTONS ---------*/
.menu-top-buttons {
    gap: 80px;
}

.menu-top-buttons, .menu-top-acessibility-buttons, .menu-top-user-buttons, .menu-top-user-buttom {
    display: flex;
    align-items: center;  
}

/*--------- ACESSIBILITY BUTTONS ---------*/
.menu-top-acessibility-buttons {
    gap: 15px;
} 


/*--------- USER BUTTONS ---------*/
.menu-top-user-buttons {
    gap: 8px;
}

.user-accont .name-user {
    text-transform: uppercase;
    font-weight: 600;
}

/*----------------- MENU BOTTOM ------------------*/
.menu-bottom {
    background: var(--color-background-2);
    height: 65px;

    display: flex;
    align-items: center;
}

.menu-bottom-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



/*--------- LINKS TO PAGES ---------*/
.menu-bottom-links {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 18px;
    position: relative;
}



/*----------------- MENU BOTTOM ------------------*/
/*--------- SEARCH FIELD ---------*/
input.seach-field {
    width: 320px;
    height: 35px;
    padding: 0 16px;
    font-size: 16px;

    color: var(--color-text);
    border-radius: 20px;
}

/*--------- SEARCH FIELD ON FOCUS ---------*/
input.seach-field:focus {
    border: 1px solid transparent;
    border-radius: 20px;
    background: linear-gradient(to right, #090B0D, #090B0D), var(--color-gradient); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}







