/*---------------- RESPONSIVE ADJUSTMENTS ----------------*/
@media screen and (max-width: 1470px) {
    .hero {
        display: flex;
        align-items: center;
    }

    .hero-banner-infos .container {
        margin: 0 2vw;
    }


    div.hero-banner-infos h1 {
        max-width: 55%;
    }
    
    div.hero-banner-infos span {
        max-width: 55%;
    }
    
    div.hero-banne-infosr input {
        max-width: 55%;
    }  
}


@media screen and (max-width: 1052px) {
    section.banners-vertical{
        height: 39.8vw;
    }
}



@media screen and (max-width: 1115px) {

    div.hero-banner-infos h1 {
        max-width: 65%;
    }
    
    div.hero-banner-infos span {
        max-width: 65%;
    }
    
    div.hero-banner-infos input {
        max-width: 65%;
    } 
    
    section.hero {
        height: 50vw;
    }
}



@media screen and (max-width: 815px) {
    div.bar-item {
        width: 38vw;
    }

    div.bar-container {
        /* height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; */
        flex-wrap: wrap;
        column-gap: 20px;
        padding: 0 5vw;
    }
    section.bar {
        height: 120px;
        padding: 10px 0;
    }

}

@media screen and (max-width: 750px) {
    section.banners-horizontal {
        flex-wrap: wrap;
        max-height: none;
        height: 100%;
        gap: 20px;
    } 
    section.banners-horizontal a {
        height: 45vw;
    }

    section.banners-vertical {
        flex-wrap: wrap;
        height: 100%;
    }
}

@media screen and (max-width: 680px) { 
    div.bar-item-text h5 {
        font-size: 14px;
        font-weight: 600;
    }

    div.bar-item-text span {
        font-size: 10px;
        font-weight: 200;
    }

    div.bar-item img {
        width: 40px;
        height: 30px;
    }
}













/*---------------- GLOBAL ----------------*/
main {
    padding-top: 65px; 
    display: flex;
    flex-direction: column;
    gap: 100px;
}


/*---------------- HERO(BANNER) ----------------*/
.swiper-pagination-bullet {
    height: 11px;
    width: 11px;
}

.swiper-pagination-bullet-active {
    background: var(--color-background-3);
    box-shadow:  0 0 1em var(--color-shadow-color-1);
}

.hero {
    width: 100%;
    height: 635px;

    display: flex;
    align-items: center;
}

.hero-banner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;

    position: relative;
}

.hero-banner-infos {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hero-banner-infos h1 {
    max-width: 40%;
    font-size: 64px;
    text-transform: uppercase;
}

.hero-banner-infos span {
    max-width: 40%;
    font-size: 36px;
    text-transform: uppercase;
}

.hero-banner-infos button {
    max-width: 40%;
    width: 300px;
    height: 62px;

    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;

    border-radius: 20px;
    background: var(--color-gradient);
    cursor: pointer;
} 

.hero-banner-infos button:hover {
    background: var(--color-gradient-hover);
}

.hero-banner img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}



/*---------------- BAR ----------------*/
.bar {
    width: 100%;
    height: 100px;
    background-color: var(--color-background-3);
}

.bar-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bar-item-text h5 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.bar-item-text span {
    font-size: 12px;
    font-weight: 200;
    text-transform: uppercase;
}

.bar-item img {
    width: 50px;
    height: 40px;
    object-fit: contain;
}




/*---------------- SECTION VERTICAL BANNERS ----------------*/
.banners-vertical {
    width: 100%;
    height: 420px;


    display: flex;
    gap: 2%;
}


.banners-vertical a {
    width: 100%;
    height: 100%;

    background-color: var(--color-background-3);
    border-radius: 20px;
}

.banners-vertical a img {
    width: 100%;
    height: 100%;

    border-radius: 20px;
    object-fit: cover;
}




/*---------------- SECTION GALERY PRODUCTS ----------------*/
.gallery-products {
    display: flex;
    gap: 2%;
    row-gap: 30px;
    flex-wrap: wrap;
}




/*---------------- SECTION HORIZONTAL BANNERS ----------------*/
.banners-horizontal {
    /* max-width: 543px; */
    width: 100%;
    min-width: 310px;
    
    max-height: 290px;
    height: 24vw;
    min-height: 171px;

    display: flex;
    gap: 2%;

}


.banners-horizontal a {
    width: 100%;
    height: 100%;

    background-color: var(--color-background-3);
    border-radius: 20px;
}

.banners-horizontal a img {
    width: 100%;
    height: 100%;

    border-radius: 20px;
    object-fit: cover;
}