


/*---------------- GLOBAL ----------------*/
main {
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}


/*---------------- HERO(BANNER) ----------------*/
.hero {
    width: 100%;
    height: 635px;
    padding: 0 7vw;

    background-image: url('../img/banners/fortnite-1920x1080-wallpaper-raven.jpg');

    display: flex;
    align-items: center;
}

.hero-banner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.hero-banner h1 {
    max-width: 40%;
    font-size: 64px;
    text-transform: uppercase;
}

.hero-banner span {
    max-width: 40%;
    font-size: 36px;
    text-transform: uppercase;
}

.hero-banner input {
    max-width: 40%;
    width: 300px;
    height: 62px;

    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;

    border-radius: 20px;
    background: var(--color-gradient);
    cursor: pointer;
} 

.hero-banner input:hover {
    background: var(--color-gradient-hover);
}



/*---------------- BAR ----------------*/
.bar {
    width: 100%;
    height: 100px;
    background-color: var(--color-background-3);
}

.bar-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bar-item-text h5 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.bar-item-text span {
    font-size: 12px;
    font-weight: 200;
    text-transform: uppercase;
}

.bar-item img {
    width: 50px;
    height: 40px;
    object-fit: contain;
}




/*---------------- SECTION VERTICAL BANNERS ----------------*/
.banners-vertical {
    width: 100%;
    height: 420px;

    display: flex;
    gap: 2%;
}


.banners-vertical div {
    width: 100%;
    height: 100%;

    background-color: var(--color-background-3);
    border-radius: 20px;

    background-image: url("../img/icons/img-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: 70%;
}




/*---------------- SECTION GALERY PRODUCTS ----------------*/
.gallery-products {
    display: flex;
    gap: 2%;
    row-gap: 30px;
    flex-wrap: wrap;
}




/*---------------- SECTION HORIZONTAL BANNERS ----------------*/
.banners-horizontal {
    width: 100%;
    height: 290px;

    display: flex;
    gap: 2%;
}


.banners-horizontal div {
    width: 100%;
    height: 100%;

    background-color: var(--color-background-3);
    border-radius: 20px;

    background-image: url("../img/products/Metal-gear-solid-v-the-phantom-pain-cover-art-from-konami.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}