

.div-input input{
    box-sizing: border-box;
    position: relative;
    width: 340px;
    height: 40px;
    

}


.second-colum input {
    
    width: 340px;
    height: 40px;

}

h1 {
    margin-top: auto;
    display: flex;
    justify-content: center;
    width: 340px;
    height: 40px; 
}

.first-content form input {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 340px;
    height: 40px;
    padding: 10px;
    font-size: 14px;
    flex-direction: column; 
    

    
}

.first-content form div {
    
    margin-top: 30px;
}

.container {
    
        display: flex;
        
}

@media screen and (max-width: 820px){
    .container   {
        flex-wrap: wrap-reverse;
        height: auto;
        padding: 3% 5.5%;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        
        gap: 24px;
    }

    .first-content{

        display: flex;
        justify-content: center;

    }


        
    .second-colum {
        margin: 10%;
        display: flex;
        flex-direction: column;
    }


    .newsletter-text {
        width: 100%;
    }
    
    .newsletter-input input.newsletter-container form-login {
        padding: 0 5.5%;
    }

    .barra {

        visibility: hidden;
        position: absolute;

    }

   
        
}



 

.first-content form {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 30px
}


.button-submit{
    display:flex;
    justify-content: center;
    max-width: 340px;
    height: 40px;
    padding: 10px;
 
 }



.barra {

    background: var(--color-gradient);
    width: 2px;
    
}

.form-login{
    display: flex;
    justify-content: space-between;
    width: 100%;

  
}

.div {
    width: 340px;
    height: 40px;
}

.form-criar-conta{
    display: flex;
    justify-content: center;
    width: 100%;
   

  
}

.second-colum form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 30px 0;
    position: relative;
    gap: 30px;
    
        
}

.second-colum input {
   
    border-radius: 10px;   
    padding-left: 15px;
    outline: none;
    font-size: 14px;
    width: 100%;
    margin-top: 30px ;


}

.second-colum input:focus+.second-colum .form {
    top: -10px;


}

.second-colum .form label {
position: absolute;
top:10px;
left: 15px;
color: gray;
font-weight: 500;
transition: all .3s ease;
} 

.button-submit:hover {
    background: var(--color-gradient-hover);
}

