
@import url('./partials/buttons/left-right-buttons.css');
@import url('./partials/buttons/button-submit.css');
@import url('./partials/product-list.css');
@import url('./partials/product-item.css');


.product-route {
    padding: 50px 0;
}

.product-content {
    display: flex;
    flex-direction: column;
    gap: 100px;
}


/*------------------ PRODUCT ROUTE ------------------*/
.product-route {
    text-transform: uppercase;
    font-size: 12px;
}


/*------------------ PRODUCT INFOS DETAILS ------------------*/
.product-infos {
    display: flex;
    gap: 5%;
}


/*------------------ PRODUCT IMAGES ------------------*/
.product-infos-images {
    width: 50%;
    min-width: 50%;

    display: flex;
    flex-direction: column;
    gap: 1.1%;
}

.product-infos-images .principal-image {
    width: 100%;

    height: 530px;
    
    background-color: var(--color-background-3);
    border-radius: 20px;
    cursor: pointer;
}

.product-infos-images .principal-image img {
    width: 100%;
    height: 530px;
    object-fit: cover;

    border-radius: 20px;
    cursor: pointer;
}


.secondary-images {
    min-height: 100px;
    position: relative;
}

.secondary-images .button {
    width: 35px;
    min-width: 35px;
    height: 35px;
    
    position: absolute;
    top: 33px; 
}

.secondary-images .no-more {
    background: var(--color-text-opacity-15);
}

.secondary-images .left-arrow-button::after, .secondary-images .right-arrow-button::after {
    width: 16px;
    height: 16px;
}

.secondary-images .left-arrow-button {
    left: -18px;
    z-index: 3;

    background: var(--color-text-opacity-15);
}

.secondary-images .right-arrow-button {
    right: -18px;
}

.secondary-images div {
    display: flex;
    gap: 6px;
    height: 100%;
}

.secondary-images-min {
    width: 88.78px; 
    height: 100%;
    background-color: var(--color-background-3);
    border-radius: 5px;
    cursor: pointer;
}

.secondary-images img {
    width: 100%;
    min-height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.secondary-images a {
    display: flex;
    justify-content: center;
    align-items: center;
}




/*------------------ PRODUCT INFORMATIONS ------------------*/
/*------- TITLE AND DESCRIPTION --------*/
.product-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.product-info-description {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.product-info-description h2 {
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
}

.product-info-description p {
    font-size: 14px;
}

.product-info-description div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-info-description a {
    font-size: 14px;
    color: var(--color-contrast-1);
}

/*------- PRICE --------*/
.product-info-price {
    display: flex;
    flex-direction: column;
    gap: 3px
}

.product-info-price span{
    font-size: 20px;
    font-weight: 200;
    color: var(--color-text-opacity-70);
}

.product-info-price span:first-child{
    text-decoration: line-through;
}

.product-info-price h3{
    font-size: 36px;
    font-weight: 600;
}

.product-info-price span:last-child{
    font-size: 16px;
}

/*------- SHIPPING --------*/
.product-info-shipping {
    position: relative;
    max-width: 255px;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-info-shipping input {
    max-width: 255px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;

    border: none;
    background-color: var(--color-background-3);
}

.product-info-shipping img {
    width: 17px;
    opacity: 30%;
}
.product-info-shipping button{
    position: absolute;
    right: 15px;
    top: 15px;
}

/*------- ADRESS --------*/
.product-info-cep-price {
    display: flex;
    flex-direction: column;
}
 
.product-info-cep-price span:first-child {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: -2px;
}

.product-info-cep-price span:last-child {
    font-size: 14px;
}

/*------- MODELS --------*/
.product-info-model {
    display: flex;
    flex-direction: column;
    gap: 15px;

    text-transform: uppercase;
    font-size: 14px;
}

.product-info-model button {
    width: 50px;
    height: 50px;
    background-color: var(--color-background-3);
    border-radius: 4px;
}

.product-info-model img {
    width: 70%;
}




/*------------------ SHOP BUTTON ------------------*/
.product-info-button {
    width: 300px;
    height: 60px;

    font-size: 24px;
}

.product-details-blocks {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.product-details h3 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}