/*---------------- RESPONSIVE AJUSTS ----------------*/
@media screen and (max-width: 680px) {
    /******* CONTENT PAGE *******/
    main .store-container {
        margin-top: 40px;
    }

    
    /******* FILTERS SIDEBAR *******/
    .store-filters {
        visibility: hidden;
        position: absolute;
        z-index: 0;
    }

    
    /******* BANNER *******/
    section.store-banner img {
        height: 260px;
        object-position: bottom;
    }

    section.store-banner::after {
        height: 260px;
    }

    section.store-banner h1 {
        max-width: 60%;
        font-size: 48px;

        top: 75px;
    }
}


@media screen and (min-width: 680px) {
    .store-menu-responsive {
        visibility: hidden;
        position: absolute;
        z-index: 0;
        left: -170px;
    }
}










/*---------------- STORE BANNER ----------------*/
.store-banner-container {
    position: relative;
}

.store-banner {
    position: relative;
}

.store-banner img {
    width: 100%;
    height: 330px;
    opacity: 70%;

    object-fit: cover;
    object-position: bottom;
    z-index: 3;
}

.store-banner::after {
    content: "";
    width: 100vw;
    height: 330px;
    display: block;

    background: var(--color-gradient);

    z-index: -1;
    position: absolute;
    top: 0;
}

.store-banner h1 {
    max-width: 40%;
    font-size: 64px;
    text-transform: uppercase;

    position: absolute;
    top: 115px;
}





/*---------------- STORE MENU RESPONSIVE ----------------*/
.store-menu-responsive {
    height: 80px;
    margin-top: 40px;
    background-color: var(--color-background-3);
}

.store-menu-responsive-container {
    width: 75%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.store-menu-responsive-container button {
    display: flex;
    align-items: center;
    gap: 10%;
    width: auto;

    cursor: pointer;
}

.store-menu-responsive-container span {
    font-size: 16px;
    width: 100%;
}





/*---------------- STORE FILTER ----------------*/
.store-container {
    margin-top: 100px;

    display: flex;
    width: 100%;
    gap: 5%;
}

.store-filters {
    width: 20%;
    min-width: 185px;
    
    text-transform: uppercase;
    font-size: 22px;

    display: flex;
    flex-direction: column;
    gap: 30px;

}

.store-filters-inputs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 12px;
    font-weight: 500;
}

.store-filters-inputs h3 {
    font-size: 18px;
}

.store-filter-rule {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.checkbox-options{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.store-options-values {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.store-options-values div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}



/*---------------- STORE GALLERY ----------------*/
.store-gallery {
    width: 100%;
}

