
img {
    width: 213px;
    height: 213px;
    
    
}



body {
    background-color: var(--color-background-pages);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 90px;
       
}


h1 {
    color: var(--color-text);
    font-size: 28px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    gap: 32px;


}


h3{
    color: var(--color-text);
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    margin:auto;
    gap: 29px;

} 

button{
    border-radius: 12px;
    color: var(--color-contrast-1);  
    text-align: center;
    gap: 50px;
    
} 

  

