@import url("./general.css"); 
@import url("./buttons/button-submit.css");


.secao-meus-dados{
    display:flex ;
    flex-wrap: ;
    gap:50px;

}

.menu{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.menu h3 {
    height: 60px;
    padding: 0 0 0 60px;

    display: flex;
    align-items: center;
    background-color: var(--color-background-3);
}

.menu .menu-meus-dados {
    background-color: var(--color-background-2);
}

fieldset {
    border: 0;

}

.meus-dados-inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.dados-pessoas #cpf {
    width: 48%;
    
}

.dados-pessoas #data {
    width: 48%;
}


.formulario-dados-pessoais {
    display: flex;
    flex-direction: column;
    
}