.button-submit {
    width: 100%;
    max-width: 340px;
    height: 40px;

    border-radius: 20px;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;

    color: var(--color-background-3);
    background: var(--color-gradient);
}

.button-submit:hover {
    background: var(--color-gradient-hover);
}