.button-submit {
    width: 100%;
    max-width: 280px;
    height: 40px;

    border-radius: 20px;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;

    color: var(--color-background-1);
    background: var(--color-gradient);

    cursor: pointer;
}

.button-submit:hover {
    background: var(--color-gradient-hover);
}