.left-arrow-button, .right-arrow-button {
    width: 37px;
    height: 37px;
    padding-top: 2px;
    border-radius: 50%;
    background: var(--color-gradient);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0.95;

    cursor: pointer;
}


.left-arrow-button::after, .right-arrow-button::after {
    content: "";
    width: 22px;
    height: 22px;
    
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


.left-arrow-button:hover, .right-arrow-button:hover {
    background: var(--color-gradient-hover);
}

.left-arrow-button::after {
    background-image: url('../../img/icons/icon-left-arrow.png');
}

.right-arrow-button::after {
    background-image: url('../../img/icons/icon-right-arrow.png');
}
