.left-arrow-button, .right-arrow-button {
    width: 54px;
    min-width: 54px;
    height: 54px;
    padding-top: 2px;
    border-radius: 50%;
    background: var(--color-gradient);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.right-arrow-button {
    background: var(--color-gradient-invert);
}



.left-arrow-button::after, .right-arrow-button::after {
    content: "";
    width: 24px;
    height: 24px;
    
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
    cursor: pointer;
}


.right-arrow-button:hover {
    background: var(--color-gradient-hover-invert);
}
.left-arrow-button:hover {
    background: var(--color-gradient-hover);
}

.left-arrow-button::after {
    background-image: url('../../../img/icons/icon-left-arrow.png');
}

.right-arrow-button::after {
    background-image: url('../../../img/icons/icon-right-arrow.png');
}
