
/******************* RESPONSIVENESS ********************/

/*********************** 1125px ***********************/
@media screen and (max-width:1125px) {
    .footer-newsletter .newsletter-input {
        height: 50%;
    }

    .footer-newsletter input.newsletter-email {
        height: 50px;
    }

    .footer-newsletter .newsletter-button {
        height: 36px;
        width: 136px;
        background: var(--color-background-3);
        top: 70%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}


/*********************** 1080px ***********************/

@media screen and (max-width: 1080px) {
    .footer-links-container .footer-newsletter {
        gap: 5%;
    }

    .newsletter-text {
        width: 60%;
    }
    
    .footer-newsletter .newsletter-text p{
        text-align: justify;
    }
}

/*********************** 850px ***********************/

@media screen and (max-width: 850px) {
    .footer-links-container  .footer-newsletter {
        height: 210px;
        padding: 22px 5.5% 10px;
        
        flex-wrap: wrap;
        gap: 10px;

        top: -250px;
    }
    
    .footer-newsletter .newsletter-text {
        width: 100%;
        margin: none;
        align-items: center;
        gap: 0;
    }

    .footer-newsletter .newsletter-text h3{
        font-size: 34px;
        font-weight: 600;
    }
    .footer-newsletter .newsletter-text p{
        text-align: center;
        font-size: 16px;
    }
    
    .footer-newsletter input.newsletter-email {
        height: 38px;
        font-size: 14px;

    }

    .footer-newsletter .newsletter-button {
        top: 48%;
    }

    .footer-newsletter .newsletter-button:hover {
        background: var(--color-background-4); 
    }
}

/*********************** 690px ***********************/

@media screen and (max-width: 690px) {
    section.footer-links {
        padding-top: 175px;
    }

    .footer-links-container .footer-newsletter {
        top: -275px
    }

    .footer-links-container {
        flex-direction: column;
        row-gap: 40px;
    }

    .footer-links-container .footer-description, .footer-links-container .footer-colluns-links {
        width: 100%;
    }
    
}

/*********************** 490px ***********************/
@media screen and (max-width: 490px) {
    .footer-links-container div.footer-description, .footer-links-container div.footer-colluns-links{
        width: 75%;
        align-self: center;
    }

    .footer-links-container .footer-colluns-links {
        flex-direction: column;
        row-gap: 40px;
    }

    div.footer-collum {
        gap: 4px;
        align-items: center;
    }
    
    .footer-colluns-links div.links {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 18px;
        justify-content: center;    
        align-items: center;

    }

    .footer-colluns-links div.links a{
        flex-direction: row;
        justify-content: center;   
        
        font-size: 14px;
        text-decoration: underline;
        text-underline-position: under;
    }

    .footer-colluns-links div.links .button-icon-material{
        text-decoration: none;

    }

    .links .contact-info {
        align-items: center;
    }

    .footer-copyright-container h5 {
        text-align: center;
    }
    
    section.footer-copyright {
        height: 85px;
    }
}








/*-------------- GENERAL FOOTER --------------*/
footer {
    display: flex;
    flex-direction: column;
    position: relative;
}



/*-------------- NEWSLETTER --------------*/
.footer-newsletter {
    width: 100%;
    height: 170px;
    padding: 0 5.5%;
    background: var(--color-gradient);
    border-radius: 20px;

    display: flex;
    align-items: center;
    gap: 4%;

    position: absolute;
    top: -230px;
    left: 0;
    z-index: 3;
}

.newsletter-text {
    width: 73%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.newsletter-text h3 {
    font-size: 44px;
    font-weight: 500;
}

.newsletter-text p {
    font-size: 18px;
    text-align: start;
}

.newsletter-input{
    width: 130%;
    position: relative;
}

input.newsletter-email {
    background-color: var(--color-text-opacity-70);
    width: 100%;
    height: 80px;
    padding: 0 5%;
    border-radius: 50px;

    color: var(--color-background-1);
    font-size: 16px;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
}

input.newsletter-email:focus {
    background: none;
    background-color: var(--color-text-opacity-70);
}

.newsletter-button {
    width: 170px;
    height: 45px;

    border-radius: 300px;
    background: var(--color-gradient);

    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;

    position: absolute;
    right: 17px;
    top: 22%;    
    cursor: pointer;
}

.newsletter-button:hover {
    background: var(--color-gradient-hover); 
}



/*-------------- INFOS AND LINKS --------------*/

.footer-links {
    padding: 150px 0 60px;
    margin-top: 250px;
    background-color: var(--color-background-3);
}
.footer-links-container {
    display: flex;
    justify-content: space-between;

    position: relative;
}

.footer-description  {
    all: initial;

    width: 23%;
    text-align: justify;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-collum {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer-collum .links{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
} 

.footer-colluns-links{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-collum a {
    font-size: 14px;
}

.footer-collum a:hover {
    color: var(--color-contrast-1);
}

.footer-collum h4 {
    color: var(--color-contrast-1);
    text-transform: uppercase;
}



/*-------------- COPYRIGHT --------------*/
.footer-copyright {
    width: 100%;
    height:75px;
    background: var(--color-background-3);
}

.footer-copyright-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

hr {
    width: 100%;
    height: 1px;
    background: var(--color-gradient);
}

.footer-copyright-container h5 {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;

    text-transform: uppercase;
}

.footer-copyright-container a{
    color: var(--color-contrast-1);
}



