@media screen and (max-width: 1080px) {
    .menu-bottom-links {
        visibility: hidden;
        display: none;

        position: absolute;
        top: -200px;
    }

    .menu-top-container .menu-top-buttons {
        width: 40%;

        justify-content: space-between;
        gap: 0;
    }

    .menu-bottom-container .hamburger-menu {
        font-size: 32px;
        font-weight: 300;
    }
    .menu-bottom-container .menu-bottom-hamburger-menu {
        visibility: visible;
        display: inline;
    
        position: relative;
        top: 0;
    }

    .menu-bottom-search {
        width: 55%;
    }
    .menu-bottom-search input.seach-field {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .menu-top-container .menu-top-buttons {
        width: 52%;
    }

    .menu-bottom-search {
        width: 70%;
    }
}


@media screen and (max-width: 650px) {
    .menu-top-acessibility-buttons {
        visibility: hidden;
        display: none;

        position: absolute;
        top: -200px;
    }

    .menu-top-container .menu-top-buttons {
        min-width: none;
        width: none;
        justify-content: end;
    }
    
    .menu-top-container  {
        align-items: center;
    }

    .menu-bottom-search {
        width: 70%;
    }
    
}





header {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}


/*----------------- MENU TOP ------------------*/
.menu-top{
    background-color: var(--color-background-1);
    height: 65px;
    
    display: flex;
    align-items: center;
}

.menu-top-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}



/*--------- BUTTONS ---------*/
.menu-top-buttons {
    gap: 80px;
}

.menu-top-buttons, .menu-top-acessibility-buttons, .menu-top-user-buttons, .menu-top-user-button {
    display: flex;
    align-items: center;  
}

/*--------- ACESSIBILITY BUTTONS ---------*/
.menu-top-acessibility-buttons {
    gap: 15px;
} 


/*--------- USER BUTTONS ---------*/
.menu-top-user-buttons {
    gap: 8px;
}

.user-accont .name-user {
    text-transform: uppercase;
    font-weight: 600;
}

/*----------------- MENU BOTTOM ------------------*/
.menu-bottom {
    background: var(--color-background-2);
    height: 65px;

    display: flex;
    align-items: center;
}

.menu-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



/*--------- LINKS TO PAGES ---------*/
.menu-bottom-links {
    width: 63%;
    height: 100%;
    display: flex;
    justify-content: space-between;


    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.menu-bottom-links div {
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-bottom-links div:hover::after {
    content: "";
    width: 120%;
    height: 3px;

    background: var(--color-gradient);
    position: relative;
}


/*----------------- MENU BOTTOM ------------------*/
.menu-bottom-search {
    position: relative;
}

/*--------- SEARCH FIELD ---------*/
input.seach-field {
    width: 320px;
    height: 35px;
    padding: 0 16px;
    font-size: 16px;

    color: var(--color-text);
    font-weight: 400;

    border-radius: 20px;
    border: 2px solid transparent;
    border-radius: 20px;
    background: linear-gradient(to right, #090B0D, #090B0D), var(--color-gradient-hover); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

/*--------- SEARCH FIELD ON FOCUS ---------*/
input.seach-field:focus {
    border: 2px solid transparent;
    border-radius: 20px;
    background: linear-gradient(to right, #090B0D, #090B0D), var(--color-gradient); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.menu-bottom-search img {
    width: 17px;
    opacity: 30%;
}
.menu-bottom-search button{
    position: absolute;
    right: 15px;
    top: 8px;

    cursor: pointer;
}


/*--------- HUMBURGER MENU ---------*/
.menu-bottom-hamburger-menu {
    visibility: hidden;
    display: none;

    position: absolute;
    top: -200px;
}








