/* cart menu  */

.cart-menu {
    width: 100%;
}

.menu-cart-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1165px;
    height: 70px;
    background-color: var(--color-background-3);
    /* border: solid 2px green; */
}

.cart-menu-navigation {
    display: flex;
    gap: 20%;
    justify-content: center;
    width: 100%;
    /* border: solid 2px green; */
}



.cart-menu-navigation a:hover {
    color: var(--color-contrast-1
    );
}

@media screen and (max-width: 900px) {
    .cart-menu-navigation {
        gap: 8%;
    }
}