
@media screen and (max-width: 920px) {
    div.product-item {
        width: 200px;
    }
}


@media screen and (max-width: 750px) {
    div.product-item {
        width: 42vw;
    }
    div.gallery-products {
        grid-gap: 2%;
        row-gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(42vw, 1fr));
    }
    .product-item a.image img {
        padding: 25px;
        border-radius: 10px;

    }

}

.test-product {
    width: 220px;
    height: 350px;
    background-color: aqua;
}

.product-item {
    width: 212px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}

.product-item:hover {
    box-shadow: var(--color-shadow-normal);
    position: relative;
    z-index: 1;
}


.product-item .image img {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    background-color: var(--color-background-3);
    
    object-fit: contain;
}

.product-item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 8%;
}

.product-item-info .like-button {
    width: 18px;
    height: 18px;
    margin-top: 10px;
}

.product-item-info-text { 
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 85%;
}

.product-item-info-text .price {
    font-size: 20px;
    font-weight: 600;
}


.gallery-products {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(193px, 1fr));
    justify-content: center;
    justify-items: center;
}
