
.product-item {
    width: 100%;
    max-width: 23%;
    height: 370px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}

.product-item:hover {
    box-shadow: var(--color-shadow-normal);
    position: relative;
    z-index: 1;
}

.product-item .image {
    width: 100%;
    height: 74%;
}

.product-item .image img {
    width: 100%;
    height: 100%;
    padding: 40px;
    border-radius: 20px 20px 0 0;
    background-color: var(--color-background-3);
    
    object-fit: contain;
}

.product-item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px ;
}

.product-item-info .like-button {
    width: 18px;
    height: 18px;
    margin-top: 10px;
}

.product-item-info-text {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 85%;
}

.product-item-info-text .price {
    font-size: 20px;
    font-weight: 600;
}


.gallery-products {
    display: flex;
    gap: 2%;
    row-gap: 30px;
    flex-wrap: wrap;
}
