/*---------------- SECTION SELECIONADOS ----------------*/
.product-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}

.product-list .button {
    width: 15%;
}

.h2-sections {
    margin-bottom: 30px;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 30px;
}





