/*---------------- SECTION SELECIONADOS ----------------*/
.product-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5vw;
}

.product-list .products { 
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 1.2vw;
}

.product-list .product-item {
    max-width: 100%;
    
}

.h2-sections {
    margin-bottom: 20px;
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 600;
}





