
@media screen and (max-width: 920px) {
    div.product-item {
        width: 200px;
    }
}




.product-item {
    width: 212px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}

.product-item:hover {
    box-shadow: var(--color-shadow-normal);
    position: relative;
    z-index: 1;
}


.product-item .image img {
    width: 100%;
    height: 243px;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    background-color: var(--color-background-3);
    
    object-fit: contain;
}

.product-item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 8%;
}

.product-item-info .like-button {
    width: 18px;
    height: 18px;
    margin-top: 10px;
}

.product-item-info-text { 
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 85%;
}

.product-item-info-text .price {
    font-size: 20px;
    font-weight: 600;
}


.gallery-products {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(193px, 1fr));
    justify-content: center;
    justify-items: center;
}
