@media screen and (max-width: 1115px) {
    /****** TITLES OF PRODUCT LIST (PRODUCT CAROUSEL) ******/
    h2.h2-sections {
        font-size: 32px;
    }   
}


.product-list .products { 
    display: flex;
    justify-content: center;
    margin: 0 5px;
}


.h2-sections {
    margin-bottom: 20px;
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 600;
}

@media screen and (max-width: 750px) {
    div.carousel {
        width: 100%;

    }
}
.carousel {
    width: 91.4%;
    margin:-40px auto;
}

.glider-next {
    right: 0;
}

.glider-prev {
    left: 0;
}

div.slick-track {
    padding: 3% 2% 3% .67%;
}




